# Información y Programación Financiera, TI, Algoritmos y Ciencia de Datos
## 2. Operaciones básicas

Neftalí Valdez

<a href="http://twitter.com/neftalivldz" target="_blank">@neftalivldz</a> | <a href="mailto:nvaldez@tec.mx">nvaldez@tec.mx</a>

In [1]:
!pwd

/Users/neftalivaldez/app/tec-finanzas-2023

In [41]:
!pip3 install scikit-learn
#!conda install -y scikit-learn

Requirement already satisfied: scikit-learn in /opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: joblib>=1.1.1 in /opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages (from scikit-learn) (3.1.0)

In [2]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp
cf.set_config_file(offline=True)  # set the plotting mode to offline

from numpy import where
from numpy import unique
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.mixture import GaussianMixture
from sklearn.linear_model import LinearRegression
import pylab as plt
import warnings
import configparser

In [3]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

In [7]:
cfg.read('../secapi.cfg')
sec_key=cfg['sec']['app_id']

In [5]:
from sec_api import QueryApi

queryApi = QueryApi(api_key=sec_key)

query = {
  "query": { "query_string": {
      "query": "ticker:TSLA AND filedAt:{2020-01-01 TO 2020-12-31} AND formType:\"10-Q\""
    } },
  "from": "0",
  "size": "10",
  "sort": [{ "filedAt": { "order": "desc" } }]
}

filings = queryApi.get_filings(query)

print(filings)

{'total': {'value': 3, 'relation': 'eq'}, 'query': {'from': 0, 'size': 10}, 'filings': [{'ticker': 'TSLA', 'formType': '10-Q', 'accessionNo': '0001564590-20-047486', 'cik': '1318605', 'companyNameLong': 'Tesla, Inc. (Filer)', 'companyName': 'Tesla, Inc.', 'linkToFilingDetails': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-10q_20200930.htm', 'description': 'Form 10-Q - Quarterly report [Sections 13 or 15(d)]', 'linkToTxt': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/0001564590-20-047486.txt', 'filedAt': '2020-10-26T06:06:44-04:00', 'documentFormatFiles': [{'sequence': '1', 'size': '5097480', 'documentUrl': 'https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000156459020047486/tsla-10q_20200930.htm', 'description': '10-Q', 'type': '10-Q'}, {'sequence': '2', 'size': '64589', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-ex101_69.htm', 'description': 'EX-10.1', 'type': 'EX-10.1'}, {'sequence': '3', 'size': '2784643', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-ex102_252.htm', 'description': 'EX-10.2', 'type': 'EX-10.2'}, {'sequence': '4', 'size': '105319', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-ex103_154.htm', 'description': 'EX-10.3', 'type': 'EX-10.3'}, {'sequence': '5', 'size': '18495', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-ex311_87.htm', 'description': 'EX-31.1', 'type': 'EX-31.1'}, {'sequence': '6', 'size': '18512', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-ex312_88.htm', 'description': 'EX-31.2', 'type': 'EX-31.2'}, {'sequence': '7', 'size': '12118', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-ex321_89.htm', 'description': 'EX-32.1', 'type': 'EX-32.1'}, {'sequence': '8', 'size': '3572', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/g55r2x05sujx000001.jpg', 'description': 'GRAPHIC', 'type': 'GRAPHIC'}, {'sequence': '\xa0', 'size': '21614151', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/0001564590-20-047486.txt', 'description': 'Complete submission text file', 'type': '\xa0'}], 'periodOfReport': '2020-09-30', 'entities': [{'fiscalYearEnd': '1231', 'stateOfIncorporation': 'DE', 'act': '34', 'cik': '0001318605', 'fileNo': '001-34756', 'irsNo': '912197729', 'companyName': 'Tesla, Inc. (Filer)', 'type': '10-Q', 'sic': '3711 Motor Vehicles &amp; Passenger Car Bodies', 'filmNo': '201258955'}], 'id': '7f8c72e979be2760cc8ba88a8014d019', 'seriesAndClassesContractsInformation': [], 'linkToHtml': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/0001564590-20-047486-index.htm', 'linkToXbrl': '', 'dataFiles': [{'sequence': '9', 'size': '109528', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-20200930.xsd', 'description': 'XBRL TAXONOMY EXTENSION SCHEMA', 'type': 'EX-101.SCH'}, {'sequence': '10', 'size': '89820', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-20200930_cal.xml', 'description': 'XBRL TAXONOMY EXTENSION CALCULATION LINKBASE', 'type': 'EX-101.CAL'}, {'sequence': '11', 'size': '392964', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-20200930_def.xml', 'description': 'XBRL TAXONOMY EXTENSION DEFINITION LINKBASE', 'type': 'EX-101.DEF'}, {'sequence': '12', 'size': '690585', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-20200930_lab.xml', 'description': 'XBRL TAXONOMY EXTENSION LABEL LINKBASE', 'type': 'EX-101.LAB'}, {'sequence': '13', 'size': '569268', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-20200930_pre.xml', 'description': 'XBRL TAXONOMY EXTENSION PRESENTATION LINKBASE', 'type': 'EX-101.PRE'}, {'sequence': '14', 'size': '4356824', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020047486/tsla-10q_20200930_htm.xml', 'description': 'EXTRACTED XBRL INSTANCE DOCUMENT', 'type': 'XML'}]}, {'id': '7dc463ec3fecd61a7586c6d3221524a9', 'accessionNo': '0001564590-20-033670', 'cik': '1318605', 'ticker': 'TSLA', 'companyName': 'Tesla, Inc.', 'companyNameLong': 'Tesla, Inc. (Filer)', 'formType': '10-Q', 'description': 'Form 10-Q - Quarterly report [Sections 13 or 15(d)]', 'filedAt': '2020-07-28T06:03:48-04:00', 'linkToTxt': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/0001564590-20-033670.txt', 'linkToHtml': 'https://www.sec.gov/Archives/edgar/data/1318605/0001564590-20-033670-index.htm', 'linkToXbrl': '', 'linkToFilingDetails': 'https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000156459020033670/tsla-10q_20200630.htm', 'entities': [{'companyName': 'Tesla, Inc. (Filer)', 'cik': '1318605', 'irsNo': '912197729', 'stateOfIncorporation': 'DE', 'fiscalYearEnd': '1231', 'type': '10-Q', 'act': '34', 'fileNo': '001-34756', 'filmNo': '201051663', 'sic': '3711 Motor Vehicles &amp; Passenger Car Bodies'}], 'documentFormatFiles': [{'sequence': '1', 'description': '10-Q', 'documentUrl': 'https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000156459020033670/tsla-10q_20200630.htm', 'type': '10-Q', 'size': '5183260'}, {'sequence': '2', 'description': 'EX-10.1', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex101_95.htm', 'type': 'EX-10.1', 'size': '23873'}, {'sequence': '3', 'description': 'EX-10.2', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex102_486.htm', 'type': 'EX-10.2', 'size': '688831'}, {'sequence': '4', 'description': 'EX-10.3', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex103_487.htm', 'type': 'EX-10.3', 'size': '233705'}, {'sequence': '5', 'description': 'EX-10.4', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex104_150.htm', 'type': 'EX-10.4', 'size': '49225'}, {'sequence': '6', 'description': 'EX-10.5', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex105_151.htm', 'type': 'EX-10.5', 'size': '176536'}, {'sequence': '7', 'description': 'EX-10.6', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex106_310.htm', 'type': 'EX-10.6', 'size': '143263'}, {'sequence': '8', 'description': 'EX-31.1', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex311_7.htm', 'type': 'EX-31.1', 'size': '18490'}, {'sequence': '9', 'description': 'EX-31.2', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex312_8.htm', 'type': 'EX-31.2', 'size': '18507'}, {'sequence': '10', 'description': 'EX-32.1', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-ex321_9.htm', 'type': 'EX-32.1', 'size': '12009'}, {'sequence': '11', 'description': 'GRAPHIC', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/gsor5krhfmql000001.jpg', 'type': 'GRAPHIC', 'size': '64187'}, {'sequence': '12', 'description': 'GRAPHIC', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/gjw1vb10q5aj000001.jpg', 'type': 'GRAPHIC', 'size': '8901'}, {'sequence': '\xa0', 'description': 'Complete submission text file', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/0001564590-20-033670.txt', 'type': '\xa0', 'size': '19996231'}], 'dataFiles': [{'sequence': '13', 'description': 'XBRL TAXONOMY EXTENSION SCHEMA', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-20200630.xsd', 'type': 'EX-101.SCH', 'size': '104815'}, {'sequence': '14', 'description': 'XBRL TAXONOMY EXTENSION CALCULATION LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-20200630_cal.xml', 'type': 'EX-101.CAL', 'size': '90662'}, {'sequence': '15', 'description': 'XBRL TAXONOMY EXTENSION DEFINITION LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-20200630_def.xml', 'type': 'EX-101.DEF', 'size': '357984'}, {'sequence': '16', 'description': 'XBRL TAXONOMY EXTENSION LABEL LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-20200630_lab.xml', 'type': 'EX-101.LAB', 'size': '667097'}, {'sequence': '17', 'description': 'XBRL TAXONOMY EXTENSION PRESENTATION LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-20200630_pre.xml', 'type': 'EX-101.PRE', 'size': '532889'}, {'sequence': '18', 'description': 'EXTRACTED XBRL INSTANCE DOCUMENT', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020033670/tsla-10q_20200630_htm.xml', 'type': 'XML', 'size': '4546467'}], 'seriesAndClassesContractsInformation': [], 'periodOfReport': '2020-06-30'}, {'id': 'efaf0b57ca68b3c3d8f6fc30924782c8', 'accessionNo': '0001564590-20-019931', 'cik': '1318605', 'ticker': 'TSLA', 'companyName': 'Tesla, Inc.', 'companyNameLong': 'Tesla, Inc. (Filer)', 'formType': '10-Q', 'description': 'Form 10-Q - Quarterly report [Sections 13 or 15(d)]', 'filedAt': '2020-04-30T06:26:18-04:00', 'linkToTxt': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/0001564590-20-019931.txt', 'linkToHtml': 'https://www.sec.gov/Archives/edgar/data/1318605/0001564590-20-019931-index.htm', 'linkToXbrl': '', 'linkToFilingDetails': 'https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000156459020019931/tsla-10q_20200331.htm', 'entities': [{'companyName': 'Tesla, Inc. (Filer)', 'cik': '1318605', 'irsNo': '912197729', 'stateOfIncorporation': 'DE', 'fiscalYearEnd': '1231', 'type': '10-Q', 'act': '34', 'fileNo': '001-34756', 'filmNo': '20833021', 'sic': '3711 Motor Vehicles &amp; Passenger Car Bodies'}], 'documentFormatFiles': [{'sequence': '1', 'description': '10-Q', 'documentUrl': 'https://www.sec.gov/ix?doc=/Archives/edgar/data/1318605/000156459020019931/tsla-10q_20200331.htm', 'type': '10-Q', 'size': '3711383'}, {'sequence': '2', 'description': 'EX-10.1', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-ex101_275.htm', 'type': 'EX-10.1', 'size': '39962'}, {'sequence': '3', 'description': 'EX-31.1', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-ex311_9.htm', 'type': 'EX-31.1', 'size': '18491'}, {'sequence': '4', 'description': 'EX-31.2', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-ex312_6.htm', 'type': 'EX-31.2', 'size': '18508'}, {'sequence': '5', 'description': 'EX-32.1', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-ex321_7.htm', 'type': 'EX-32.1', 'size': '12012'}, {'sequence': '\xa0', 'description': 'Complete submission text file', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/0001564590-20-019931.txt', 'type': '\xa0', 'size': '15059330'}], 'dataFiles': [{'sequence': '6', 'description': 'XBRL TAXONOMY EXTENSION SCHEMA', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-20200331.xsd', 'type': 'EX-101.SCH', 'size': '96462'}, {'sequence': '7', 'description': 'XBRL TAXONOMY EXTENSION CALCULATION LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-20200331_cal.xml', 'type': 'EX-101.CAL', 'size': '89223'}, {'sequence': '8', 'description': 'XBRL TAXONOMY EXTENSION DEFINITION LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-20200331_def.xml', 'type': 'EX-101.DEF', 'size': '320619'}, {'sequence': '9', 'description': 'XBRL TAXONOMY EXTENSION LABEL LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-20200331_lab.xml', 'type': 'EX-101.LAB', 'size': '605873'}, {'sequence': '10', 'description': 'XBRL TAXONOMY EXTENSION PRESENTATION LINKBASE', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-20200331_pre.xml', 'type': 'EX-101.PRE', 'size': '490694'}, {'sequence': '79', 'description': 'EXTRACTED XBRL INSTANCE DOCUMENT', 'documentUrl': 'https://www.sec.gov/Archives/edgar/data/1318605/000156459020019931/tsla-10q_20200331_htm.xml', 'type': 'XML', 'size': '3720927'}], 'seriesAndClassesContractsInformation': [], 'periodOfReport': '2020-03-31'}]}

In [3]:
RICS=['IBM','WMT','MSFT','AAPL','TWTR']
RICS_list=[RIC+"@ticker" for RIC in RICS]

ticker,err = ek.get_data(RICS_list,'TR.RIC')
ticker

  Instrument           RIC
0        IBM           IBM
1        WMT           WMT
2       MSFT        MSFT.O
3       AAPL        AAPL.O
4       TWTR  THEGQ.PK^D14

In [4]:
codes = ['IBM','WMT','MSFT','AAPL','TWTR']

ticker = ek.get_symbology(codes, best_match= True)
ticker

          CUSIP          ISIN    OAPermID   RIC ticker  lipperID    SEDOL
IBM   459200101  US4592001014  4295904307   IBM    IBM      <NA>     <NA>
WMT   931142103  US9311421039  4295905298   WMT    WMT      <NA>     <NA>
MSFT       <NA>          <NA>        <NA>  <NA>   <NA>  68659227     <NA>
AAPL       <NA>          <NA>        <NA>  <NA>   <NA>  68659218     <NA>
TWTR       <NA>          <NA>        <NA>  <NA>   <NA>      <NA>  BK3F4V0

In [5]:
help(ek.get_symbology)

Help on function get_symbology in module eikon.symbology:

get_symbology(symbol, from_symbol_type='RIC', to_symbol_type=None, raw_output=False, debug=False, best_match=True)
    Returns a list of instrument names converted into another instrument code.
    For example: convert SEDOL instrument names to RIC names

    Parameters
    ----------
    symbol: string or list of strings
        Single instrument or list of instruments to convert.

    from_symbol_type: string
        Instrument code to convert from.
        Possible values: 'CUSIP', 'ISIN', 'SEDOL', 'RIC', 'ticker', 'lipperID', 'IMO'
        Default: 'RIC'

    to_symbol_type: string or list
        Instrument code to convert to.
        Possible values: 'CUSIP', 'ISIN', 'SEDOL', 'RIC', 'ticker', 'lipperID', 'IMO', 'OAPermID'
        Default: None  (means all symbol types are requested)

    raw_output: boolean, optional
        Set this parameter to True to get the data in json format
        if set to False, the function will return a data frame
        Default: False

    debug: boolean, optional
        When set to True, the json request and response are printed.
        Default: False

    best_match: boolean, optional
        When set to True, only primary symbol is requested.
        When set to false, all symbols are requested
        Default: True

    Returns
    -------
        If raw_output is set to True, the data will be returned in the json format.
        If raw_output is False (default value) the data will be returned as a pandas.DataFrame

        pandas.DataFrame content:
            - columns : Symbol types
            - rows : Symbol requested
            - cells : the symbols (None if not found)
            - symbol : The requested symbol

    Raises
    ------
        Exception
            If request fails or if server returns an error

        ValueError
            If a parameter type or value is wrong

    Examples
    --------
    >>> import eikon as ek
    >>> ek.set_app_key('set your app key here')
    >>> ISIN_codes = ek.get_symbology(["MSFT.O", "GOOG.O", "IBM.N"], from_symbol_type="RIC", to_symbol_type="ISIN")
    >>> ISIN_codes
                    ISIN
    MSFT.O  US5949181045
    GOOG.O  US02079K1079
    IBM.N   US4592001014

# Earning per Share

In [6]:
RICS = ['TSLA.O','AAPL.O','IBM','AMZN.O','JPM','GS']
fields = ['TR.EpsSmartEst','TR.EPSMean','TR.EpsPreSurprisePct','TR.EpsPreSurprise','TR.EpsPreSurpriseFlag','TR.EPSMedian','TR.EPSLow','TR.EPSHigh']

eps,err = ek.get_data(RICS, fields)
eps

,Instrument,Earnings Per Share - SmartEstimate®,Earnings Per Share - Mean,Earnings Per Share - Predicted Surprise PCT,Earnings Per Share - Predicted Surprise,Earnings Per Share - Predicted Surprise Flag,Earnings Per Share - Median,Earnings Per Share - Low,Earnings Per Share - High
0,TSLA.O,3.94766,3.94388,0.096,0.00378,0,3.882,3.01,4.76
1,AAPL.O,5.98032,5.97058,0.163,0.00974,0,5.95,5.38,6.6
2,IBM,9.51428,9.48847,0.272,0.02581,0,9.57,8.39,9.77
3,AMZN.O,1.35055,1.41061,-4.258,-0.06006,-1,1.45,0.18,1.94
4,JPM,13.00543,12.88196,0.959,0.12347,0,12.96,11.3,14.39
5,GS,33.60233,34.19392,-1.73,-0.59159,-1,34.265,27.01,40.35

# Analyst recommendation

In [7]:
fields = ['TR.AnalystName','TR.RecLabelEstBrokerName','TR.RecEstValue',
          'TR.BrkRecLabel','TR.TPEstValue','TR.EPSLTGEstValue','TR.SingleStockRatingRecommendation1to5T24M',
          'TR.SingleStockRatingRecommendation1to100T24M','TR.RecMean','TR.PriceTargetMean','TR.LTGMean']

analysts,err = ek.get_data(['CX.N'], fields)
analysts.head(5)

,Instrument,Analyst - Full Name,Broker Name,Standard Rec (1-5) - Broker Estimate,Broker Rec Descr. - Broker Estimate,Target Price - Broker Estimate,LT Growth - Broker Estimate,Analyst Single Stock Rating - Recommendation 1 - 5 Trailing 24m,Analyst Single Stock Rating - Recommendation Trailing 24m,Recommendation - Mean (1-5),Price Target - Mean,Long Term Growth - Mean
0,CX.N,"Ricalde*, Pablo",Permission Denied 32,1,BUY,6.8,15.5,2,19,2.15,6.45278,<NA>
1,CX.N,"Quiroga, Vanessa",Permission Denied 73704,3,NEUTRAL,5.9,<NA>,3,51,<NA>,<NA>,<NA>
2,CX.N,"Thalhimer, Adam R",Permission Denied 36928,2,OVERWEIGHT,6.0,<NA>,2,21,<NA>,<NA>,<NA>
3,CX.N,"Cardona, Andrés",REDBURN (EUROPE) LIMITED,3,NEUTRAL,6.0,<NA>,2,19,<NA>,<NA>,<NA>
4,CX.N,"Goad, Harry F",BRADESCO S.A CORRETORA,2,OUTPERFORM,9.5,<NA>,2,19,<NA>,<NA>,<NA>

In [8]:
fields = ['TR.AnalystName','TR.RecLabelEstBrokerName','TR.RecEstValue',
          'TR.BrkRecLabel','TR.TPEstValue','TR.EPSLTGEstValue','TR.SingleStockRatingRecommendation1to5T24M',
          'TR.SingleStockRatingRecommendation1to100T24M','TR.RecMean','TR.PriceTargetMean','TR.LTGMean']

analysts,err = ek.get_data(['MSFT.O'], fields)
analysts.head(5)

,Instrument,Analyst - Full Name,Broker Name,Standard Rec (1-5) - Broker Estimate,Broker Rec Descr. - Broker Estimate,Target Price - Broker Estimate,LT Growth - Broker Estimate,Analyst Single Stock Rating - Recommendation 1 - 5 Trailing 24m,Analyst Single Stock Rating - Recommendation Trailing 24m,Recommendation - Mean (1-5),Price Target - Mean,Long Term Growth - Mean
0,MSFT.O,"Daptardar, Kadambari",Permission Denied 36928,2,OVERWEIGHT,275.0,10.7,5,92,1.85185,285.888,11.76917
1,MSFT.O,"Weiss, Keith E",WOLFE RESEARCH,1,OUTPERFORM,305.0,11.615,5,92,<NA>,<NA>,<NA>
2,MSFT.O,"Shepherd, Adam J",Permission Denied 32848,3,MARKET PERFORM,297.55,13.0,5,95,<NA>,<NA>,<NA>
3,MSFT.O,"Thill, Brent J",MACQUARIE RESEARCH,3,NEUTRAL,300.0,10.0,3,58,<NA>,<NA>,<NA>
4,MSFT.O,"Bonner, Joseph F",MIRAE ASSET DAEWOO,1,BUY,241.0,13.3,5,92,<NA>,<NA>,<NA>

In [50]:
# Total Return

In [9]:
RICs = ['AAPL.O','IBM','MSFT.O','TWTR.K']
start_date = '2019-12-12'
end_date = '2019-12-15'

ts,e = ek.get_data(RICs,
                   ['TR.PriceClose(SDate=2022-12-12,EDate=2022-12-15,Frq=D).date',
                    'TR.PriceClose(SDate=2022-12-12,EDate=2022-12-15,Frq=D)',
                    'TR.TotalReturn1Mo(SDate=2022-12-12,EDate=2022-12-15,Frq=D)'])
ts

   Instrument                  Date  Price Close 1 Month Total Return
0      AAPL.O  2022-12-12T00:00:00Z       144.49    -3.48029392117568
1      AAPL.O  2022-12-13T00:00:00Z       145.47    -2.82565130260524
2      AAPL.O  2022-12-14T00:00:00Z       143.21     -3.4192069058538
3      AAPL.O  2022-12-15T00:00:00Z        136.5    -9.02426019728076
4         IBM  2022-12-12T00:00:00Z       149.21     4.21876091359927
5         IBM  2022-12-13T00:00:00Z       150.57     5.16868058950906
6         IBM  2022-12-14T00:00:00Z       149.86     3.92510402219142
7         IBM  2022-12-15T00:00:00Z       142.36    -1.37176111957876
8      MSFT.O  2022-12-12T00:00:00Z       252.51     2.47271447633894
9      MSFT.O  2022-12-13T00:00:00Z       256.92      4.2623650677637
10     MSFT.O  2022-12-14T00:00:00Z       257.22     6.78682435757294
11     MSFT.O  2022-12-15T00:00:00Z       249.01     3.19894162370147
12     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
13     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
14     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
15     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN

In [11]:
RICs = ['AAPL.O','IBM','MSFT.O','TWTR.K']

ts,e = ek.get_data(RICs,
                   ['TR.PriceClose.date','TR.PriceClose','TR.TotalReturn1Mo'],
                   {'SDate':'2023-03-01','EDate':'2023-03-07','Frq':'D'})
ts

   Instrument                  Date  Price Close 1 Month Total Return
0      AAPL.O  2023-03-01T00:00:00Z       145.31    0.069668194823236
1      AAPL.O  2023-03-02T00:00:00Z       145.91    -3.10818704250326
2      AAPL.O  2023-03-03T00:00:00Z       151.03    -2.09706766242145
3      AAPL.O  2023-03-06T00:00:00Z       153.83     1.53845322599098
4      AAPL.O  2023-03-07T00:00:00Z        151.6    -1.82289129260546
5         IBM  2023-03-01T00:00:00Z       128.19    -3.93707206618221
6         IBM  2023-03-02T00:00:00Z       128.93    -4.30343990193043
7         IBM  2023-03-03T00:00:00Z       129.64    -4.16292011372738
8         IBM  2023-03-06T00:00:00Z       130.19    -3.21920822221275
9         IBM  2023-03-07T00:00:00Z       128.25     -4.4227403322215
10     MSFT.O  2023-03-01T00:00:00Z       246.27    -2.31778374902656
11     MSFT.O  2023-03-02T00:00:00Z       251.11    -4.85864626557587
12     MSFT.O  2023-03-03T00:00:00Z       255.29   -0.934942531795069
13     MSFT.O  2023-03-06T00:00:00Z       256.87    0.291531438839732
14     MSFT.O  2023-03-07T00:00:00Z       254.15    -4.77212677201652
15     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
16     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
17     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
18     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN
19     TWTR.K  2022-10-27T00:00:00Z         53.7                  NaN

# Análisis de pares
### Basado en el trabajo de  Jirapongse Phuriphanvichai
#### jirapongse-refinitiv
### https://github.com/Refinitiv-API-Samples/Article.EikonAPI.Python.PeerAnalysis

In [12]:
import warnings
import csv
import pandas as pd
import ipywidgets as widgets #IPython widgets 
from ipywidgets import Button, HBox, VBox, Layout, Dropdown, Label
from IPython.display import display, clear_output

# Definición de activo a analizar

In [18]:
ric = "IBM.N"

In [19]:
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:,.2f}'.format
context = {"RIC":"IBM.N","currency":"USD"}
currency_list= [tuple(row) for row in csv.reader(open("currencies.csv", 'rU'))]

# Identificar pares

In [20]:
peer_rics, err = ek.get_data("Peers({})".format(ric), ["TR.PrimaryInstrument"])
peer_rics

   Instrument Primary Instrument RIC
0      DELL.N                 DELL.N
1       ACN.N                  ACN.N
2       HPE.N                  HPE.N
3     MSFT.OQ                MSFT.OQ
4     CSCO.OQ                CSCO.OQ
5     INTC.OQ                INTC.OQ
6      ORCL.N                 ORCL.N
7       CRM.N                  CRM.N
8     AMZN.OQ                AMZN.OQ
9     AVGO.OQ                AVGO.OQ
10   GOOGL.OQ               GOOGL.OQ
11    CAPP.PA                CAPP.PA
12    PANW.OQ                PANW.OQ
13    SPLK.OQ                SPLK.OQ
14    SAPG.DE                SAPG.DE
15      VMW.N                  VMW.N
16     INFA.N                 INFA.N
17    AAPL.OQ                AAPL.OQ
18      HPQ.N                  HPQ.N
19    CTSH.OQ                CTSH.OQ
20    NTAP.OQ                NTAP.OQ
21    QCOM.OQ                QCOM.OQ
22      JBL.N                  JBL.N
23     CDW.OQ                 CDW.OQ
24     WDC.OQ                 WDC.OQ
25      DXC.N                  DXC.N
26     STX.OQ                 STX.OQ
27     JNPR.N                 JNPR.N
28     ANET.N                 ANET.N
29     CIEN.N                 CIEN.N
30     PSTG.N                 PSTG.N
31        V.N                    V.N
32    PYPL.OQ                PYPL.OQ
33    NVDA.OQ                NVDA.OQ
34    AMAT.OQ                AMAT.OQ
35       MA.N                   MA.N
36     TXN.OQ                 TXN.OQ
37    FISV.OQ                FISV.OQ
38       SQ.N                   SQ.N
39      GLW.N                  GLW.N
40     XRX.OQ                 XRX.OQ
41     EPAM.N                 EPAM.N
42    PAYX.OQ                PAYX.OQ
43     PATH.N                 PATH.N
44      TSM.N                2330.TW
45    FLEX.OQ                FLEX.OQ
46      MU.OQ                  MU.OQ
47     AMD.OQ                 AMD.OQ
48    LRCX.OQ                LRCX.OQ
49     INFY.N                INFY.NS

In [7]:
# Información general

In [21]:
fields = ["TR.CommonName",
        "TR.HeadquartersCountry",
        "TR.ExchangeName",
        "TR.TRBCIndustryGroup",
        "TR.GICSSector",
        "TR.TickerSymbol",
        "TR.PriceMoPriceCurrency",
        "TR.CompanyMarketCap(scale=6, curn='USD')",
        "TR.EV(scale=6, curn='USD')"]

In [22]:
df, err = ek.get_data(ric,fields )

In [23]:
df

,Instrument,Company Common Name,Country of Headquarters,Exchange Name,TRBC Industry Group Name,GICS Sector Name,Ticker Symbol,Price Currency,Company Market Cap,Enterprise Value (Daily Time Series)
0,IBM.N,International Business Machines Corp,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,IBM,US Dollar,"116,336.29","158,624.29"

In [24]:
df1, err= ek.get_data(peer_rics['Primary Instrument RIC'].tolist(), fields)

In [25]:
df1

,Instrument,Company Common Name,Country of Headquarters,Exchange Name,TRBC Industry Group Name,GICS Sector Name,Ticker Symbol,Price Currency,Company Market Cap,Enterprise Value (Daily Time Series)
0,DELL.N,Dell Technologies Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.","Computers, Phones & Household Electronics",Information Technology,DELL,US Dollar,"27,212.88","48,290.88"
1,ACN.N,Accenture PLC,Ireland; Republic of,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,ACN,US Dollar,"173,946.25","168,788.34"
2,HPE.N,Hewlett Packard Enterprise Co,United States of America,"NEW YORK STOCK EXCHANGE, INC.","Computers, Phones & Household Electronics",Information Technology,HPE,US Dollar,"19,465.17","27,812.17"
3,MSFT.OQ,Microsoft Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Information Technology,MSFT,US Dollar,"1,891,842.67","1,856,034.67"
4,CSCO.OQ,Cisco Systems Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Communications & Networking,Information Technology,CSCO,US Dollar,"200,326.72","187,152.72"
5,INTC.OQ,Intel Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,INTC,US Dollar,"105,617.61","121,193.61"
6,ORCL.N,Oracle Corp,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,ORCL,US Dollar,"238,240.92","322,279.92"
7,CRM.N,Salesforce Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,CRM,US Dollar,"183,320.00","181,413.00"
8,AMZN.OQ,Amazon.com Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Diversified Retail,Consumer Discretionary,AMZN,US Dollar,"958,631.15","977,106.15"
9,AVGO.OQ,Broadcom Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,AVGO,US Dollar,"260,639.83","283,537.83"
10,GOOGL.OQ,Alphabet Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Communication Services,GOOGL,US Dollar,"1,203,915.10","1,105,152.10"
11,CAPP.PA,Capgemini SE,France,EURONEXT - EURONEXT PARIS,Software & IT Services,Information Technology,CAP,EURO,"33,233.61","37,980.97"
12,PANW.OQ,Palo Alto Networks Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Information Technology,PANW,US Dollar,"56,648.21","56,981.61"
13,SPLK.OQ,Splunk Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Information Technology,SPLK,US Dollar,"16,551.71","18,419.72"
14,SAPG.DE,SAP SE,Germany,XETRA,Software & IT Services,Information Technology,SAP,EURO,"145,321.62","149,918.47"
15,VMW.N,VMware Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,VMW,US Dollar,"51,230.26","56,570.26"
16,INFA.N,Informatica Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,INFA,,"4,830.75","5,955.12"
17,AAPL.OQ,Apple Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),"Computers, Phones & Household Electronics",Information Technology,AAPL,US Dollar,"2,398,607.01","2,458,362.01"
18,HPQ.N,HP Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.","Computers, Phones & Household Electronics",Information Technology,HPQ,US Dollar,"27,248.30","36,238.30"
19,CTSH.OQ,Cognizant Technology Solutions Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Information Technology,CTSH,US Dollar,"31,280.88","29,438.88"
20,NTAP.OQ,NetApp Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),"Computers, Phones & Household Electronics",Information Technology,NTAP,US Dollar,"13,672.79","12,919.79"
21,QCOM.OQ,Qualcomm Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,QCOM,US Dollar,"132,896.85","141,535.85"
22,JBL.N,Jabil Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Electronic Equipment & Parts,Information Technology,JBL,US Dollar,"11,200.44","12,860.44"
23,CDW.OQ,CDW Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Information Technology,CDW,US Dollar,"27,027.46","32,634.96"
24,WDC.OQ,Western Digital Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),"Computers, Phones & Household Electronics",Information Technology,WDC,US Dollar,"11,913.92","17,113.92"
25,DXC.N,DXC Technology Co,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,DXC,US Dollar,"6,026.76","8,983.76"
26,STX.OQ,Seagate Technology Holdings PLC,Ireland; Republic of,NASDAQ/NGS (GLOBAL SELECT MARKET),"Computers, Phones & Household Electronics",Information Technology,STX,US Dollar,"12,830.91","18,089.91"
27,JNPR.N,Juniper Networks Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Communications & Networking,Information Technology,JNPR,US Dollar,"10,107.55","10,618.45"
28,ANET.N,Arista Networks Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Communications & Networking,Information Technology,ANET,US Dollar,"43,774.71","40,750.98"
29,CIEN.N,Ciena Corp,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Communications & Networking,Information Technology,CIEN,US Dollar,"7,381.81","7,786.26"
30,PSTG.N,Pure Storage Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.","Computers, Phones & Household Electronics",Information Technology,PSTG,US Dollar,"7,383.09","6,375.39"
31,V.N,Visa Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,V,US Dollar,"459,329.41","465,678.41"
32,PYPL.OQ,PayPal Holdings Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Software & IT Services,Information Technology,PYPL,US Dollar,"84,751.17","84,735.17"
33,NVDA.OQ,NVIDIA Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,NVDA,US Dollar,"575,213.60","572,870.60"
34,AMAT.OQ,Applied Materials Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,AMAT,US Dollar,"98,346.43","100,041.43"
35,MA.N,Mastercard Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,MA,US Dollar,"343,110.12","349,804.12"
36,TXN.OQ,Texas Instruments Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,TXN,US Dollar,"155,921.77","155,589.77"
37,FISV.OQ,Fiserv Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Professional & Commercial Services,Information Technology,FISV,US Dollar,"73,647.82","95,023.82"
38,SQ.N,Block Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Professional & Commercial Services,Information Technology,SQ,US Dollar,"46,982.12","45,971.56"
39,GLW.N,Corning Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Electronic Equipment & Parts,Information Technology,GLW,US Dollar,"28,344.12","33,851.12"
40,XRX.OQ,Xerox Holdings Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Office Equipment,Information Technology,XRX,US Dollar,"2,573.35","5,504.35"
41,EPAM.N,Epam Systems Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,EPAM,US Dollar,"17,610.82","15,901.17"
42,PAYX.OQ,Paychex Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Professional & Commercial Services,Information Technology,PAYX,US Dollar,"40,404.70","39,950.60"
43,PATH.N,UiPath Inc,United States of America,"NEW YORK STOCK EXCHANGE, INC.",Software & IT Services,Information Technology,PATH,,"8,441.79","6,765.04"
44,2330.TW,Taiwan Semiconductor Manufacturing Co Ltd,Taiwan,TAIWAN STOCK EXCHANGE,Semiconductors & Semiconductor Equipment,Information Technology,2330,Taiwan Dollar,"443,500.32","419,414.19"
45,FLEX.OQ,Flex Ltd,Singapore,NASDAQ/NGS (GLOBAL SELECT MARKET),Electronic Equipment & Parts,Information Technology,FLEX,US Dollar,"10,302.69","11,850.69"
46,MU.OQ,Micron Technology Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,MU,US Dollar,"60,625.77","60,309.77"
47,AMD.OQ,Advanced Micro Devices Inc,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,AMD,US Dollar,"132,311.09","128,923.09"
48,LRCX.OQ,Lam Research Corp,United States of America,NASDAQ/NGS (GLOBAL SELECT MARKET),Semiconductors & Semiconductor Equipment,Information Technology,LRCX,US Dollar,"64,723.50","65,138.94"
49,INFY.NS,Infosys Ltd,India,NATIONAL STOCK EXCHANGE OF INDIA,Software & IT Services,Information Technology,INFY,Indian Rupee,"76,315.33","74,715.51"

# Razones financieras

In [26]:
fields_ratios = ["TR.CommonName",
    "TR.PE()",
    "TR.PtoEPSMeanEst(Period=FY1)",
    "TR.PriceToSalesPerShare",
    "TR.EVToEBITDA",
    "TR.PricetoCFPerShare",
    "TR.PriceToBVPerShare",
    "TR.DividendYield"]

In [27]:
df_a, err = ek.get_data(ric, fields_ratios)
df_a

,Instrument,Company Common Name,P/E (Daily Time Series Ratio),Price / EPS (Mean Estimate),Price To Sales Per Share (Daily Time Series Ratio),Enterprise Value To EBITDA (Daily Time Series Ratio),Price To Cash Flow Per Share (Daily Time Series Ratio),Price To Book Value Per Share (Daily Time Series Ratio),Dividend yield
0,IBM.N,International Business Machines Corp,67.54,13.52,1.92,12.14,11.15,5.30,5.07

In [28]:
df2_a, err = ek.get_data(peer_rics['Primary Instrument RIC'].tolist(), fields_ratios)
df2_a

,Instrument,Company Common Name,P/E (Daily Time Series Ratio),Price / EPS (Mean Estimate),Price To Sales Per Share (Daily Time Series Ratio),Enterprise Value To EBITDA (Daily Time Series Ratio),Price To Cash Flow Per Share (Daily Time Series Ratio),Price To Book Value Per Share (Daily Time Series Ratio),Dividend yield
0,DELL.N,Dell Technologies Inc,11.81,6.90941753610171,0.27,5.22,7.63,-8.72,3.79
1,ACN.N,Accenture PLC,23.99,22.9832062529632,2.79,14.86,18.30,7.24,1.66
2,HPE.N,Hewlett Packard Enterprise Co,23.11,7.25629063836987,0.68,5.91,4.24,0.97,3.17
3,MSFT.OQ,Microsoft Corp,28.26,27.1536480870113,9.27,19.13,22.42,10.33,1.06
4,CSCO.OQ,Cisco Systems Inc,17.92,13.0289081396712,3.77,11.76,12.49,4.83,3.16
5,INTC.OQ,Intel Corp,13.09,46.4722586282219,1.68,7.68,6.84,1.04,1.92
6,ORCL.N,Oracle Corp,27.60,18.036591663894,5.17,16.86,15.81,-56.08,1.43
7,CRM.N,Salesforce Inc,888.57,25.6799614492396,5.85,32.14,25.78,3.14,<NA>
8,AMZN.OQ,Amazon.com Inc,<NA>,66.3188266069289,1.87,18.04,20.50,6.56,<NA>
9,AVGO.OQ,Broadcom Inc,21.02,15.1063497655815,7.57,14.14,15.08,11.18,2.91
10,GOOGL.OQ,Alphabet Inc,20.92,18.4528034066714,4.25,12.18,13.14,4.71,<NA>
11,CAPP.PA,Capgemini SE,20.39,15.5076976301678,1.42,12.79,13.05,3.45,1.79
12,PANW.OQ,Palo Alto Networks Inc,"2,419.23",46.6588569577029,9.20,185.37,19.91,77.65,<NA>
13,SPLK.OQ,Splunk Inc,<NA>,36.1109722212301,4.53,<NA>,36.81,-149.56,<NA>
14,SAPG.DE,SAP SE,56.85,20.4042164047837,4.41,19.26,24.11,3.22,1.74
15,VMW.N,VMware Inc,38.96,16.8781888248253,3.84,15.63,11.91,33.40,<NA>
16,INFA.N,Informatica Inc,<NA>,20.4447115384615,3.21,25.27,24.15,2.35,<NA>
17,AAPL.OQ,Apple Inc,25.76,25.3911680272268,6.19,19.62,21.97,42.34,0.60
18,HPQ.N,HP Inc,11.02,8.3148958684046,0.46,6.49,9.77,-7.30,3.68
19,CTSH.OQ,Cognizant Technology Solutions Corp,13.91,13.6799880617493,1.61,8.32,12.18,2.54,1.85
20,NTAP.OQ,NetApp Inc,11.04,11.8254524734103,2.12,9.42,10.66,12.41,3.06
21,QCOM.OQ,Qualcomm Inc,11.40,12.7230999146029,3.09,9.28,13.11,7.09,2.45
22,JBL.N,Jabil Inc,12.18,10.0264859576702,0.32,5.39,6.01,4.46,0.38
23,CDW.OQ,CDW Corp,24.50,19.1280899738984,1.14,15.31,20.23,16.85,1.16
24,WDC.OQ,Western Digital Corp,<NA>,NaN,0.76,8.41,16.23,0.98,<NA>
25,DXC.N,DXC Technology Co,9.02,7.60278261269179,0.41,2.47,7.87,1.30,<NA>
26,STX.OQ,Seagate Technology Holdings PLC,22.17,40.2278759629702,1.37,13.41,11.29,-27.30,4.42
27,JNPR.N,Juniper Networks Inc,21.82,13.6489507369121,1.91,14.03,103.56,2.25,2.81
28,ANET.N,Arista Networks Inc,33.41,24.7464214945889,9.99,25.63,88.83,8.97,<NA>
29,CIEN.N,Ciena Corp,40.57,17.6156102283729,1.92,18.51,<NA>,2.60,<NA>
30,PSTG.N,Pure Storage Inc,114.79,18.6184215546382,2.68,34.41,9.62,7.84,<NA>
31,V.N,Visa Inc,31.19,26.4277898566171,15.22,21.95,24.45,12.44,0.79
32,PYPL.OQ,PayPal Holdings Inc,35.75,15.3350747613043,3.08,15.81,14.58,4.20,<NA>
33,NVDA.OQ,NVIDIA Corp,133.73,52.2357427241631,21.32,72.78,101.97,25.98,0.07
34,AMAT.OQ,Applied Materials Inc,15.59,16.3620488204055,3.75,12.05,19.63,7.33,0.88
35,MA.N,Mastercard Inc,35.21,29.5376343468346,15.43,25.84,30.65,54.64,0.62
36,TXN.OQ,Texas Instruments Inc,18.30,22.6144192881045,7.79,13.68,17.88,10.69,2.87
37,FISV.OQ,Fiserv Inc,30.01,15.9768135216304,4.15,13.81,15.95,2.40,<NA>
38,SQ.N,Block Inc,<NA>,43.9523305323391,2.68,97.31,267.09,2.72,<NA>
39,GLW.N,Corning Inc,22.41,16.6463662200568,2.00,10.36,10.84,2.36,3.16
40,XRX.OQ,Xerox Holdings Corp,<NA>,12.6441199077633,0.36,11.42,16.18,0.72,5.98
41,EPAM.N,Epam Systems Inc,43.13,27.0849023380499,3.65,20.94,37.95,5.86,<NA>
42,PAYX.OQ,Paychex Inc,27.73,26.4265977612011,8.39,18.93,24.70,12.61,2.79
43,PATH.N,UiPath Inc,<NA>,245.537867824409,8.12,<NA>,<NA>,4.54,<NA>
44,2330.TW,Taiwan Semiconductor Manufacturing Co Ltd,13.37,15.5278352745597,6.00,8.28,8.44,4.61,2.10
45,FLEX.OQ,Flex Ltd,12.95,9.8858196487158,0.35,6.16,11.98,2.29,<NA>
46,MU.OQ,Micron Technology Inc,10.08,NaN,2.23,4.23,4.98,1.23,0.81
47,AMD.OQ,Advanced Micro Devices Inc,92.79,26.9236066025301,5.61,24.16,37.11,2.42,<NA>
48,LRCX.OQ,Lam Research Corp,12.89,14.2531126496895,3.40,10.21,18.33,7.82,1.42
49,INFY.NS,Infosys Ltd,26.76,25.6251294048211,4.40,17.87,28.70,8.46,2.16

In [33]:
import pandas as pg
df_concat = pd.concat((df_a, df2_a))
df = df_a.set_index('Instrument')
df.loc["Peer Median"] = df_concat.median()
df.loc["Peer Average"] = df_concat.mean()
df.loc["Peer Median", "Company Common Name"] = ""
df.loc["Peer Average", "Company Common Name"] = ""

In [29]:
df_a

,Instrument,Company Common Name,P/E (Daily Time Series Ratio),Price / EPS (Mean Estimate),Price To Sales Per Share (Daily Time Series Ratio),Enterprise Value To EBITDA (Daily Time Series Ratio),Price To Cash Flow Per Share (Daily Time Series Ratio),Price To Book Value Per Share (Daily Time Series Ratio),Dividend yield
0,IBM.N,International Business Machines Corp,67.54,13.52,1.92,12.14,11.15,5.30,5.07

In [35]:
df_concat.median()

P/E (Daily Time Series Ratio)                             23.55
Price / EPS (Mean Estimate)                               18.45
Price To Sales Per Share (Daily Time Series Ratio)         3.21
Enterprise Value To EBITDA (Daily Time Series Ratio)      14.03
Price To Cash Flow Per Share (Daily Time Series Ratio)    16.18
Price To Book Value Per Share (Daily Time Series Ratio)    4.54
Dividend yield                                             2.01
dtype: float64

In [36]:
df_concat.mean()

P/E (Daily Time Series Ratio)                             104.38
Price To Sales Per Share (Daily Time Series Ratio)          4.38
Enterprise Value To EBITDA (Daily Time Series Ratio)       20.92
Price To Cash Flow Per Share (Daily Time Series Ratio)     27.06
Price To Book Value Per Share (Daily Time Series Ratio)     4.11
Dividend yield                                              2.24
dtype: float64

In [37]:
df

,Company Common Name,P/E (Daily Time Series Ratio),Price / EPS (Mean Estimate),Price To Sales Per Share (Daily Time Series Ratio),Enterprise Value To EBITDA (Daily Time Series Ratio),Price To Cash Flow Per Share (Daily Time Series Ratio),Price To Book Value Per Share (Daily Time Series Ratio),Dividend yield
Instrument,,,,,,,,
IBM.N,International Business Machines Corp,67.54,13.52,1.92,12.14,11.15,5.30,5.07
Peer Median,,23.55,18.45,3.21,14.03,16.18,4.54,2.01
Peer Average,,104.38,<NA>,4.38,20.92,27.06,4.11,2.24

In [ ]:
# Income Statement

In [55]:
fields_IS = ["TR.CommonName",
            "TR.ReturnonAvgTotEqtyPctNetIncomeBeforeExtraItemsTTM",
            "TR.ROAPercentTrailing12M",
            "TR.GrossProfit(Period=FY0)",
            "TR.TotalRevenue(Period=FY0)",
            "TR.OperatingProfit(Period=FY0)",
            "TR.OperatingProfitMarginPct5YrAvg",
            "TR.PretaxMarginPercent(period=FY0)",
            "TR.EBITDATotEqtyPctTTM"]

In [56]:
ric = "IBM.N"
fields = fields_IS 
df_a, err = ek.get_data(ric, fields)
peers, err = ek.get_data("Peers({})".format(ric), ["TR.PrimaryInstrument"])
df2_a, err = ek.get_data(peers['Primary Instrument RIC'].tolist(), fields)
df_concat = pd.concat((df_a, df2_a))
df_concat2 = df_concat.reset_index(drop=True)

In [51]:
df_concat.mean()

ROE Total Equity %, TTM                                     76.89
ROA Total Assets Percent, Trailing 12 Months                 8.95
Gross Profit                                    61,092,682,312.50
Total Revenue                                  121,333,547,627.45
Gross Profit                                    60,512,625,250.00
Total Revenue                                  117,302,389,686.27
Operating Profit                                36,967,386,549.02
Operating Profit                                36,798,731,117.65
Oper Profit Margin, %, 5 Yr Avg                             17.38
Pretax Margin, Percent                                      14.68
EBITDA/Tot Eqty, %, TTM                                    158.77
dtype: float64

In [49]:
df

,Company Common Name,"ROE Total Equity %, TTM","ROA Total Assets Percent, Trailing 12 Months",Gross Profit,Total Revenue,Gross Profit,Total Revenue,Operating Profit,Operating Profit,"Oper Profit Margin, %, 5 Yr Avg","Pretax Margin, Percent","EBITDA/Tot Eqty, %, TTM"
Instrument,,,,,,,,,,,,
IBM.N,International Business Machines Corp,9.07,1.43,32686000000,60529000000,32687000000,60530000000,1156000000,1156000000,8.74,1.91,74.14

In [62]:
ric = "IBM.N"
fields = fields_IS 
df_a, err = ek.get_data(ric, fields)
peers, err = ek.get_data("Peers({})".format(ric), ["TR.PrimaryInstrument"])
df2_a, err = ek.get_data(peers['Primary Instrument RIC'].tolist(), fields)
df_concat = pd.concat((df_a, df2_a))
dfs = df_a.set_index('Instrument')
dfs.loc["Peer Median"] = df_concat.median()
dfs.loc["Peer Average"] = df_concat.mean()
dfs.loc["Peer Median", "Company Common Name"] = ""
dfs.loc["Peer Average", "Company Common Name"] = ""

In [63]:
dfs

,Company Common Name,"ROE Total Equity %, TTM","ROA Total Assets Percent, Trailing 12 Months",Gross Profit,Total Revenue,Operating Profit,"Oper Profit Margin, %, 5 Yr Avg","Pretax Margin, Percent","EBITDA/Tot Eqty, %, TTM"
Instrument,,,,,,,,,
IBM.N,International Business Machines Corp,9.07,1.43,"32,687,000,000.00","60,530,000,000.00","1,156,000,000.00",8.74,1.91,74.14
Peer Median,,18.85,6.20,"10,591,500,000.00","23,748,700,000.00","2,393,000,000.00",14.92,12.32,39.30
Peer Average,,76.89,8.95,"60,512,625,250.00","117,302,389,686.27","36,798,731,117.65",17.38,14.68,158.77

In [64]:
df_concat

,Instrument,Company Common Name,"ROE Total Equity %, TTM","ROA Total Assets Percent, Trailing 12 Months",Gross Profit,Total Revenue,Operating Profit,"Oper Profit Margin, %, 5 Yr Avg","Pretax Margin, Percent","EBITDA/Tot Eqty, %, TTM"
0,IBM.N,International Business Machines Corp,9.07,1.43,32687000000,60530000000,1156000000,8.74,1.91,74.14
0,DELL.N,Dell Technologies Inc,44.30,0.95,21891000000,101197000000,7055000000,2.42,5.85,231.50
1,ACN.N,Accenture PLC,32.55,15.78,19701539000,61594305000,9270887000,14.80,14.93,52.42
2,HPE.N,Hewlett Packard Enterprise Co,4.36,1.51,9506000000,28496000000,716000000,3.87,3.07,23.63
3,MSFT.OQ,Microsoft Corp,39.31,19.14,135620000000,198270000000,83282000000,38.09,42.22,56.54
4,CSCO.OQ,Cisco Systems Inc,27.92,11.89,32248000000,51557000000,13969000000,26.58,28.08,39.30
5,INTC.OQ,Intel Corp,8.14,4.57,26866000000,63054000000,3334000000,25.31,12.32,16.03
6,ORCL.N,Oracle Corp,<NA>,7.48,33563000000,42440000000,10926000000,33.27,18.02,<NA>
7,CRM.N,Salesforce Inc,0.48,0.31,19466000000,26492000000,497000000,2.52,5.78,7.19
8,AMZN.OQ,Amazon.com Inc,-1.91,-0.62,225152000000,513983000000,12248000000,4.62,-1.15,38.11
9,AVGO.OQ,Broadcom Inc,48.23,15.45,22100000000,33203000000,14225000000,27.66,37.45,80.85
10,GOOGL.OQ,Alphabet Inc,23.62,16.55,156633000000,282836000000,74842000000,25.11,25.22,35.75
11,CAPP.PA,Capgemini SE,<NA>,<NA>,<NA>,21995000000,2393000000,10.10,10.29,<NA>
12,PANW.OQ,Palo Alto Networks Inc,8.10,0.29,3782800000,5501500000,-188800000,-4.54,-3.77,72.60
13,SPLK.OQ,Splunk Inc,<NA>,-13.30,1939695000,2673664000,-1146829000,-25.55,-49.40,<NA>
14,SAPG.DE,SAP SE,5.80,2.39,22166000000,30871000000,4672000000,18.89,10.02,18.52
15,VMW.N,VMware Inc,25.49,4.41,10580000000,12851000000,2366000000,<NA>,16.22,63.46
16,INFA.N,Informatica Inc,-2.66,-1.08,1161615000,1505118000,25603000,<NA>,-2.27,11.67
17,AAPL.OQ,Apple Inc,147.94,26.15,170782000000,394328000000,119437000000,27.52,30.20,194.76
18,HPQ.N,HP Inc,<NA>,8.30,12335000000,62983000000,4676000000,7.75,7.05,<NA>
19,CTSH.OQ,Cognizant Technology Solutions Corp,18.85,12.81,6980000000,19428000000,2968000000,15.04,15.52,29.11
20,NTAP.OQ,NetApp Inc,129.84,13.41,4220000000,6318000000,1157000000,18.58,17.33,138.21
21,QCOM.OQ,Qualcomm Inc,78.69,25.55,25565000000,44200000000,15813000000,27.88,33.93,101.22
22,JBL.N,Jabil Inc,41.31,5.13,2632000000,33478000000,1389000000,2.99,3.68,100.82
23,CDW.OQ,CDW Corp,96.54,8.47,4686600000,23748700000,1735200000,6.67,6.26,184.60
24,WDC.OQ,Western Digital Corp,-0.77,-0.36,6322000000,18793000000,2391000000,8.53,11.30,16.86
25,DXC.N,DXC Technology Co,15.28,3.83,3582000000,16265000000,1293000000,0.40,7.02,77.52
26,STX.OQ,Seagate Technology Holdings PLC,"2,207.14",7.17,3469000000,11661000000,1955000000,14.46,14.40,"4,817.86"
27,JNPR.N,Juniper Networks Inc,10.71,5.22,2958300000,5301200000,564900000,9.29,10.12,17.22
28,ANET.N,Arista Networks Inc,30.51,21.62,2675696000,4381310000,1527106000,29.77,36.10,35.87
29,CIEN.N,Ciena Corp,5.33,3.08,1560344000,3632661000,222808000,10.06,5.02,13.80
30,PSTG.N,Pure Storage Inc,1.73,0.44,1472519000,2180848000,-98398000,-11.24,-5.89,18.64
31,V.N,Visa Inc,41.51,18.14,23602000000,29310000000,18813000000,64.50,61.88,58.04
32,NVDA.OQ,NVIDIA Corp,17.93,10.23,15356000000,26974000000,4224000000,27.30,15.50,32.32
33,PYPL.OQ,PayPal Holdings Inc,11.52,3.13,11653000000,27518000000,3837000000,15.15,12.23,25.53
34,AMAT.OQ,Applied Materials Inc,50.97,24.16,11993000000,25785000000,7788000000,27.61,29.47,65.62
35,MA.N,Mastercard Inc,145.92,26.00,<NA>,22237000000,12264000000,53.68,52.76,198.96
36,TXN.OQ,Texas Instruments Inc,62.69,33.73,13771000000,20028000000,10140000000,45.10,50.09,81.52
37,FISV.OQ,Fiserv Inc,8.19,2.95,9745000000,17737000000,3740000000,17.25,16.42,22.28
38,SQ.N,Block Inc,-5.28,-2.38,5991892000,17531587000,-624532000,-0.23,-3.22,4.61
39,GLW.N,Corning Inc,10.81,4.65,4506000000,14189000000,1438000000,11.93,12.66,26.85
40,XRX.OQ,Xerox Holdings Corp,-7.85,-2.62,2318000000,7107000000,-307000000,2.92,-4.62,11.75
41,PAYX.OQ,Paychex Inc,46.37,15.52,<NA>,4611700000,1840000000,37.38,39.56,66.73
42,EPAM.N,Epam Systems Inc,15.28,11.14,1538015000,4824698000,572966000,13.29,10.51,27.67
43,PATH.N,UiPath Inc,-19.44,-14.61,723384000,892252000,-500946000,<NA>,-57.26,-17.31
44,2330.TW,Taiwan Semiconductor Manufacturing Co Ltd,39.76,23.40,1348354806000,2263891292000,1121226500000,42.43,50.54,60.98
45,FLEX.OQ,Flex Ltd,20.05,4.31,1947000000,26041000000,1197000000,2.69,4.01,47.13
46,MU.OQ,Micron Technology Inc,12.99,9.60,13898000000,30758000000,9619000000,30.32,31.12,29.93
47,AMD.OQ,Advanced Micro Devices Inc,4.24,3.27,10603000000,23601000000,1264000000,11.29,5.02,17.33
48,LRCX.OQ,Lam Research Corp,69.35,28.56,7871807000,17227039000,5381822000,29.02,30.15,86.37
49,INFY.NS,Infosys Ltd,32.92,20.14,396430000000,1216410000000,280150000000,23.00,24.75,47.61

In [68]:
def gt_comparison(ric, fields):
    df_a, err = ek.get_data(ric, fields)
    peers, err = ek.get_data("Peers({})".format(ric), ["TR.PrimaryInstrument"])
    df2_a, err = ek.get_data(peers['Primary Instrument RIC'].tolist(), fields)
    df_concat = pd.concat((df_a, df2_a))
    dfs = df_a.set_index('Instrument')
    dfs.loc["Peer Median"] = df_concat.median()
    dfs.loc["Peer Average"] = df_concat.mean()
    dfs.loc["Peer Median", "Company Common Name"] = ""
    dfs.loc["Peer Average", "Company Common Name"] = ""
    return dfs, df_concat

In [69]:
df_ms, df_ms_peers = gt_comparison("MSFT.OQ", fields_IS)

In [70]:
df_ms

,Company Common Name,"ROE Total Equity %, TTM","ROA Total Assets Percent, Trailing 12 Months",Gross Profit,Total Revenue,Operating Profit,"Oper Profit Margin, %, 5 Yr Avg","Pretax Margin, Percent","EBITDA/Tot Eqty, %, TTM"
Instrument,,,,,,,,,
MSFT.OQ,Microsoft Corp,39.31,19.14,"135,620,000,000.00","198,270,000,000.00","83,282,000,000.00",38.09,42.22,56.54
Peer Median,,-0.72,0.29,"1,910,197,500.00","2,673,664,000.00","39,212,475.00",2.52,-1.71,6.59
Peer Average,,-8.21,-2.73,"98,172,865,500.00","275,258,237,000.00","47,201,855,279.00",2.69,-9.05,8.23

In [71]:
df_ms_peers

,Instrument,Company Common Name,"ROE Total Equity %, TTM","ROA Total Assets Percent, Trailing 12 Months",Gross Profit,Total Revenue,Operating Profit,"Oper Profit Margin, %, 5 Yr Avg","Pretax Margin, Percent","EBITDA/Tot Eqty, %, TTM"
0,MSFT.OQ,Microsoft Corp,39.31,19.14,135620000000,198270000000,83282000000,38.09,42.22,56.54
0,CRM.N,Salesforce Inc,0.48,0.31,19466000000,26492000000,497000000,2.52,5.78,7.19
1,ORCL.N,Oracle Corp,<NA>,7.48,33563000000,42440000000,10926000000,33.27,18.02,<NA>
2,ADBE.OQ,Adobe Inc,32.97,17.48,15441000000,17606000000,6098000000,33.47,34.12,48.21
3,META.OQ,Meta Platforms Inc,18.52,13.19,92855000000,116609000000,28944000000,35.18,24.71,30.04
4,AMZN.OQ,Amazon.com Inc,-1.91,-0.62,225152000000,513983000000,12248000000,4.62,-1.15,38.11
5,OKTA.OQ,Okta Inc,-15.86,-9.99,903796000,1300201000,-767282000,-41.62,-65.35,-12.37
6,IBM.N,International Business Machines Corp,9.07,1.43,32687000000,60530000000,1156000000,8.74,1.91,74.14
7,SAPG.DE,SAP SE,5.80,2.39,22166000000,30871000000,4672000000,18.89,10.02,18.52
8,AAPL.OQ,Apple Inc,147.94,26.15,170782000000,394328000000,119437000000,27.52,30.20,194.76
9,VMW.N,VMware Inc,25.49,4.41,10580000000,12851000000,2366000000,<NA>,16.22,63.46
10,CSCO.OQ,Cisco Systems Inc,27.92,11.89,32248000000,51557000000,13969000000,26.58,28.08,39.30
11,0700.HK,Tencent Holdings Ltd,21.95,11.66,245944000000,560118000000,271620000000,38.71,44.29,19.52
12,HPE.N,Hewlett Packard Enterprise Co,4.36,1.51,9506000000,28496000000,716000000,3.87,3.07,23.63
13,6758.T,Sony Group Corp,13.14,3.05,2701672000000,9921513000000,1136162000000,10.37,11.26,30.66
14,7974.T,Nintendo Co Ltd,22.28,17.25,946045000000,1695344000000,596060000000,28.66,39.78,26.44
15,ZTNO.PK,Zoom Technologies Inc,<NA>,<NA>,0,0,-2882050,1.97,<NA>,<NA>
16,NOW.N,ServiceNow Inc,7.45,2.70,5672000000,7245000000,355000000,3.19,5.51,18.06
17,SNOW.N,Snowflake Inc.,-13.86,-10.84,760894000,1219327000,-715036000,<NA>,-55.52,-13.47
18,WDAY.OQ,Workday Inc,<NA>,<NA>,<NA>,6215818000,<NA>,<NA>,-4.18,<NA>
19,SPLK.OQ,Splunk Inc,<NA>,-13.30,1939695000,2673664000,-1146829000,-25.55,-49.40,<NA>
20,INTU.OQ,Intuit Inc,12.38,7.27,10320000000,12726000000,2571000000,24.88,19.97,22.27
21,HUBS.N,HubSpot Inc,-12.08,-4.78,1416710000,1730969000,-109101000,-6.38,-6.05,-5.46
22,DDOG.OQ,Datadog Inc,-4.09,-1.86,1328357000,1675100000,-58695000,-3.17,-2.27,-1.96
23,MDB.OQ,MongoDB Inc,-54.25,-15.17,614290000,873782000,-289364000,-35.76,-34.66,-49.55
24,TEAM.OQ,Atlassian Corp,-101.36,-11.15,2337175000,2802882000,-106457000,-1.16,-20.14,-38.52
25,DOCU.OQ,DocuSign Inc,-37.50,-5.16,1640762000,2107213000,-61884000,-16.35,-3.18,0.29
26,PATH.N,UiPath Inc,-19.44,-14.61,723384000,892252000,-500946000,<NA>,-57.26,-17.31
27,ZM.OQ,Zoom Video Communications Inc,1.73,1.32,3292509000,4392960000,245429000,16.43,5.67,6.00
28,NET.N,Cloudflare Inc,-26.86,-7.80,742631000,975241000,-201203000,-27.56,-19.56,-13.19
29,ADSK.OQ,Autodesk Inc,82.54,9.12,4525000000,5005000000,989000000,13.42,18.90,118.55
30,CFLT.OQ,Confluent Inc,-55.88,-19.31,383529000,585944000,-462674000,<NA>,-76.16,-56.18
31,GOOGL.OQ,Alphabet Inc,23.62,16.55,156633000000,282836000000,74842000000,25.11,25.22,35.75
32,PANW.OQ,Palo Alto Networks Inc,8.10,0.29,3782800000,5501500000,-188800000,-4.54,-3.77,72.60
33,PLTR.N,Palantir Technologies Inc,-15.39,-11.06,1497322000,1905871000,-161201000,<NA>,-18.94,-5.71
34,ZS.OQ,Zscaler Inc,-76.47,-14.40,848664000,1090946000,-327429000,-26.75,-35.16,-56.03
35,ZI.OQ,ZoomInfo Technologies Inc,2.96,0.90,909800000,1098000000,215300000,<NA>,17.72,12.69
36,HCP.OQ,HashiCorp Inc,-65.59,-45.90,257329000,320769000,-289314000,<NA>,-90.14,-66.29
37,SHOP.N,Shopify Inc,-35.73,-28.72,2754119000,5599864000,-822299000,-4.41,-64.70,-7.55
38,TWLO.N,Twilio Inc,-11.64,-9.83,1813577000,3826321000,-1205308000,-30.34,-32.50,-6.85
39,CHKP.OQ,Check Point Software Technologies Ltd,25.76,13.71,2025500000,2329900000,884300000,42.89,39.84,30.10
40,ESTC.N,Elastic NV,-56.86,-15.16,630180000,862374000,-173680000,-26.76,-22.94,-43.90
41,DBX.OQ,Dropbox Inc,<NA>,17.84,1880700000,2324900000,181300000,-4.19,8.29,<NA>
42,VEEV.N,Veeva Systems Inc,12.81,10.50,1347099000,1850777000,505496000,25.96,27.68,16.11
43,CRWD.OQ,CrowdStrike Holdings Inc,-15.71,-4.51,1068373000,1451594000,-142548000,-20.45,-11.02,-5.78
44,DT.N,Dynatrace Inc,2.08,1.19,756569000,929445000,81307000,-3.10,7.71,10.64
45,AYX.N,Alteryx Inc,-110.51,-20.18,737570000,855354000,-300511000,-15.38,-36.68,-76.31
46,COUP.OQ,Coupa Software Inc,-55.51,-10.48,412053000,725289000,-244084000,-27.40,-51.25,-20.66
47,SMAR.N,Smartsheet Inc,-45.93,-23.18,434359000,550832000,-170036000,-33.31,-31.01,-42.00
48,IOT.N,Samsara Inc,-70.91,-37.38,303861000,428345000,-353848000,<NA>,-82.61,-69.81
49,GTLB.OQ,GitLab Inc,-23.17,-17.25,222668000,252653000,-128957000,<NA>,-62.96,-25.93

In [72]:
def gt_comparison(ric, fields):
    df_a, err = ek.get_data(ric, fields)
    peers, err = ek.get_data("Peers({})".format(ric), ["TR.PrimaryInstrument"])
    df2_a, err = ek.get_data(peers['Primary Instrument RIC'].tolist(), fields)
    df_concat = pd.concat((df_a, df2_a)).reset_index(drop=True)
    dfs = df_a.set_index('Instrument')
    dfs.loc["Peer Median"] = df_concat.median()
    dfs.loc["Peer Average"] = df_concat.mean()
    dfs.loc["Peer Median", "Company Common Name"] = ""
    dfs.loc["Peer Average", "Company Common Name"] = ""
    return dfs, df_concat

In [73]:
df_ms, df_ms_peers = gt_comparison("MSFT.OQ", fields_IS)
df_ms_peers

,Instrument,Company Common Name,"ROE Total Equity %, TTM","ROA Total Assets Percent, Trailing 12 Months",Gross Profit,Total Revenue,Operating Profit,"Oper Profit Margin, %, 5 Yr Avg","Pretax Margin, Percent","EBITDA/Tot Eqty, %, TTM"
0,MSFT.OQ,Microsoft Corp,39.31,19.14,135620000000,198270000000,83282000000,38.09,42.22,56.54
1,CRM.N,Salesforce Inc,0.48,0.31,19466000000,26492000000,497000000,2.52,5.78,7.19
2,ORCL.N,Oracle Corp,<NA>,7.48,33563000000,42440000000,10926000000,33.27,18.02,<NA>
3,ADBE.OQ,Adobe Inc,32.97,17.48,15441000000,17606000000,6098000000,33.47,34.12,48.21
4,META.OQ,Meta Platforms Inc,18.52,13.19,92855000000,116609000000,28944000000,35.18,24.71,30.04
5,AMZN.OQ,Amazon.com Inc,-1.91,-0.62,225152000000,513983000000,12248000000,4.62,-1.15,38.11
6,OKTA.OQ,Okta Inc,-15.86,-9.99,903796000,1300201000,-767282000,-41.62,-65.35,-12.37
7,IBM.N,International Business Machines Corp,9.07,1.43,32687000000,60530000000,1156000000,8.74,1.91,74.14
8,SAPG.DE,SAP SE,5.80,2.39,22166000000,30871000000,4672000000,18.89,10.02,18.52
9,AAPL.OQ,Apple Inc,147.94,26.15,170782000000,394328000000,119437000000,27.52,30.20,194.76
10,VMW.N,VMware Inc,25.49,4.41,10580000000,12851000000,2366000000,<NA>,16.22,63.46
11,CSCO.OQ,Cisco Systems Inc,27.92,11.89,32248000000,51557000000,13969000000,26.58,28.08,39.30
12,0700.HK,Tencent Holdings Ltd,21.95,11.66,245944000000,560118000000,271620000000,38.71,44.29,19.52
13,HPE.N,Hewlett Packard Enterprise Co,4.36,1.51,9506000000,28496000000,716000000,3.87,3.07,23.63
14,6758.T,Sony Group Corp,13.14,3.05,2701672000000,9921513000000,1136162000000,10.37,11.26,30.66
15,7974.T,Nintendo Co Ltd,22.28,17.25,946045000000,1695344000000,596060000000,28.66,39.78,26.44
16,ZTNO.PK,Zoom Technologies Inc,<NA>,<NA>,0,0,-2882050,1.97,<NA>,<NA>
17,NOW.N,ServiceNow Inc,7.45,2.70,5672000000,7245000000,355000000,3.19,5.51,18.06
18,SNOW.N,Snowflake Inc.,-13.86,-10.84,760894000,1219327000,-715036000,<NA>,-55.52,-13.47
19,WDAY.OQ,Workday Inc,<NA>,<NA>,<NA>,6215818000,<NA>,<NA>,-4.18,<NA>
20,SPLK.OQ,Splunk Inc,<NA>,-13.30,1939695000,2673664000,-1146829000,-25.55,-49.40,<NA>
21,INTU.OQ,Intuit Inc,12.38,7.27,10320000000,12726000000,2571000000,24.88,19.97,22.27
22,HUBS.N,HubSpot Inc,-12.08,-4.78,1416710000,1730969000,-109101000,-6.38,-6.05,-5.46
23,DDOG.OQ,Datadog Inc,-4.09,-1.86,1328357000,1675100000,-58695000,-3.17,-2.27,-1.96
24,MDB.OQ,MongoDB Inc,-54.25,-15.17,614290000,873782000,-289364000,-35.76,-34.66,-49.55
25,TEAM.OQ,Atlassian Corp,-101.36,-11.15,2337175000,2802882000,-106457000,-1.16,-20.14,-38.52
26,DOCU.OQ,DocuSign Inc,-37.50,-5.16,1640762000,2107213000,-61884000,-16.35,-3.18,0.29
27,PATH.N,UiPath Inc,-19.44,-14.61,723384000,892252000,-500946000,<NA>,-57.26,-17.31
28,ZM.OQ,Zoom Video Communications Inc,1.73,1.32,3292509000,4392960000,245429000,16.43,5.67,6.00
29,NET.N,Cloudflare Inc,-26.86,-7.80,742631000,975241000,-201203000,-27.56,-19.56,-13.19
30,ADSK.OQ,Autodesk Inc,82.54,9.12,4525000000,5005000000,989000000,13.42,18.90,118.55
31,CFLT.OQ,Confluent Inc,-55.88,-19.31,383529000,585944000,-462674000,<NA>,-76.16,-56.18
32,GOOGL.OQ,Alphabet Inc,23.62,16.55,156633000000,282836000000,74842000000,25.11,25.22,35.75
33,PANW.OQ,Palo Alto Networks Inc,8.10,0.29,3782800000,5501500000,-188800000,-4.54,-3.77,72.60
34,PLTR.N,Palantir Technologies Inc,-15.39,-11.06,1497322000,1905871000,-161201000,<NA>,-18.94,-5.71
35,ZS.OQ,Zscaler Inc,-76.47,-14.40,848664000,1090946000,-327429000,-26.75,-35.16,-56.03
36,ZI.OQ,ZoomInfo Technologies Inc,2.96,0.90,909800000,1098000000,215300000,<NA>,17.72,12.69
37,HCP.OQ,HashiCorp Inc,-65.59,-45.90,257329000,320769000,-289314000,<NA>,-90.14,-66.29
38,SHOP.N,Shopify Inc,-35.73,-28.72,2754119000,5599864000,-822299000,-4.41,-64.70,-7.55
39,TWLO.N,Twilio Inc,-11.64,-9.83,1813577000,3826321000,-1205308000,-30.34,-32.50,-6.85
40,CHKP.OQ,Check Point Software Technologies Ltd,25.76,13.71,2025500000,2329900000,884300000,42.89,39.84,30.10
41,ESTC.N,Elastic NV,-56.86,-15.16,630180000,862374000,-173680000,-26.76,-22.94,-43.90
42,DBX.OQ,Dropbox Inc,<NA>,17.84,1880700000,2324900000,181300000,-4.19,8.29,<NA>
43,VEEV.N,Veeva Systems Inc,12.81,10.50,1347099000,1850777000,505496000,25.96,27.68,16.11
44,CRWD.OQ,CrowdStrike Holdings Inc,-15.71,-4.51,1068373000,1451594000,-142548000,-20.45,-11.02,-5.78
45,DT.N,Dynatrace Inc,2.08,1.19,756569000,929445000,81307000,-3.10,7.71,10.64
46,AYX.N,Alteryx Inc,-110.51,-20.18,737570000,855354000,-300511000,-15.38,-36.68,-76.31
47,COUP.OQ,Coupa Software Inc,-55.51,-10.48,412053000,725289000,-244084000,-27.40,-51.25,-20.66
48,SMAR.N,Smartsheet Inc,-45.93,-23.18,434359000,550832000,-170036000,-33.31,-31.01,-42.00
49,IOT.N,Samsara Inc,-70.91,-37.38,303861000,428345000,-353848000,<NA>,-82.61,-69.81
50,GTLB.OQ,GitLab Inc,-23.17,-17.25,222668000,252653000,-128957000,<NA>,-62.96,-25.93

In [ ]:
# Operating

In [74]:
fields_ef = ["TR.CommonName",
     "TR.TtlDebtToTtlEquityPct",
     "TR.NetDebtToEBITDA",
     "TR.CashandEquivalents(Period=FY0, Scale=6, curn='USD')",
     "TR.CurrentRatio",
     "TR.QuickRatio",
     "TR.InventoryTurnover",
     "TR.AcctsReceivTradeNet(Period=FY0,Scale=6, curn='USD')"]

In [76]:
df_zoom, df_zoom_peers = gt_comparison("GM", fields_ef)
df_zoom

,Company Common Name,"Total Debt to Total Equity, Percent",Net Debt To EBITDA (Daily Time Series Ratio),Cash and Equivalents,Current Ratio,Quick Ratio,Inventory Turnover,"Accounts Receivable - Trade, Net"
Instrument,,,,,,,,
GM,General Motors Co,169.19,3.75,"19,153.00",1.10,0.93,9.58,"13,333.00"
Peer Median,,112.59,2.97,"1,735.77",1.37,1.03,7.89,"2,776.50"
Peer Average,,122.42,4.44,"8,367.61",2.41,2.01,8.72,"9,078.99"

In [77]:
## Balance Sheet

In [ ]:
## Growth