In [1]:
#!pip3 install textblob

In [2]:
import eikon as ek
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from textblob import TextBlob
import datetime
from datetime import time
import warnings
warnings.filterwarnings("ignore")
import configparser as cp
#https://github.com/Refinitiv-API-Samples/Article.EikonAPI.Python.NewsSentimentAnalysis

Basado en el siguiente artículo:

jasonramchandani 
@rsamasiri rsamasiri Raksina Samasiri

#https://github.com/Refinitiv-API-Samples/Article.EikonAPI.Python.NewsSentimentAnalysis

In [3]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

In [ ]:
import pandas as pd
pd.merge

In [4]:
from datetime import datetime, timedelta
end = datetime.today()
start = end - timedelta(days=(365.2*4))
print(start, end)

2019-04-18 23:02:47.735777 2023-04-18 18:14:47.735777

In [5]:
df = ek.get_news_headlines('R:MSFT.O AND Language:LEN', date_from=start, date_to=end, count=100)
df.head()

,versionCreated,text,storyId,sourceCode
2023-04-18 07:46:19.000,2023-04-18 17:52:46+00:00,"U.S. RESEARCH ROUNDUP-Aterian, Berkshire Hatha...",urn:newsml:newswire.refinitiv.com:20230418:nL4...,NS:RTRS
2023-04-18 17:44:05.666,2023-04-18 17:44:05.666000+00:00,Microsoft (MSFT) Azure Expands Strategic Partn...,urn:newsml:newswire.refinitiv.com:20230418:nNR...,NS:ZACKSC
2023-04-18 17:30:54.000,2023-04-18 17:30:54+00:00,LIVE MARKETS-Search and disrupt,urn:newsml:newswire.refinitiv.com:20230418:nL1...,NS:RTRS
2023-04-18 17:25:09.000,2023-04-18 17:25:09+00:00,UN Women - Overcoming gender-based violence as...,urn:newsml:newswire.refinitiv.com:20230418:nND...,NS:PUBT
2023-04-18 17:22:03.000,2023-04-18 17:22:03+00:00,US FTC leaders will target AI that violates ci...,urn:newsml:newswire.refinitiv.com:20230418:nL1...,NS:RTRS

In [6]:
df['Polarity'] = np.nan
df['Subjectivity'] = np.nan
df['Score'] = np.nan

In [16]:
#for idx, storyId in enumerate(df['storyId'].values):  #for each row in our df dataframe
#    print(idx, storyId)
#    newsText = ek.get_news_story(storyId) #get the news story
#    print(newsText)

In [8]:
for idx, storyId in enumerate(df['storyId'].values):  #for each row in our df dataframe
    newsText = ek.get_news_story(storyId) #get the news story
    if newsText:
        soup = BeautifulSoup(newsText,"lxml") #create a BeautifulSoup object from our HTML news article
        sentA = TextBlob(soup.get_text()) #pass the text only article to TextBlob to anaylse
        df['Polarity'].iloc[idx] = sentA.sentiment.polarity #write sentiment polarity back to df
        df['Subjectivity'].iloc[idx] = sentA.sentiment.subjectivity #write sentiment subjectivity score back to df
        if sentA.sentiment.polarity >= 0.05: # attribute bucket to sentiment polartiy
            score = 'positive'
        elif  -.05 < sentA.sentiment.polarity < 0.05:
            score = 'neutral'
        else:
            score = 'negative'
        df['Score'].iloc[idx] = score #write score back to df
df.head()

,versionCreated,text,storyId,sourceCode,Polarity,Subjectivity,Score
2023-04-18 07:46:19.000,2023-04-18 17:52:46+00:00,"U.S. RESEARCH ROUNDUP-Aterian, Berkshire Hatha...",urn:newsml:newswire.refinitiv.com:20230418:nL4...,NS:RTRS,0.026779,0.066479,neutral
2023-04-18 17:44:05.666,2023-04-18 17:44:05.666000+00:00,Microsoft (MSFT) Azure Expands Strategic Partn...,urn:newsml:newswire.refinitiv.com:20230418:nNR...,NS:ZACKSC,0.116939,0.479778,positive
2023-04-18 17:30:54.000,2023-04-18 17:30:54+00:00,LIVE MARKETS-Search and disrupt,urn:newsml:newswire.refinitiv.com:20230418:nL1...,NS:RTRS,0.026409,0.371817,neutral
2023-04-18 17:25:09.000,2023-04-18 17:25:09+00:00,UN Women - Overcoming gender-based violence as...,urn:newsml:newswire.refinitiv.com:20230418:nND...,NS:PUBT,0.117577,0.310451,positive
2023-04-18 17:22:03.000,2023-04-18 17:22:03+00:00,US FTC leaders will target AI that violates ci...,urn:newsml:newswire.refinitiv.com:20230418:nL1...,NS:RTRS,-0.077982,0.649912,negative

In [13]:
start = df['versionCreated'].min().replace(hour=0,minute=0,second=0,microsecond=0).strftime('%Y/%m/%d')
end = df['versionCreated'].max().replace(hour=0,minute=0,second=0,microsecond=0).strftime('%Y/%m/%d')
Minute = ek.get_timeseries(["MSFT.O"], start_date=start, interval="minute")
Minute

MSFT.O                 HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2023-04-14 00:00:00   289.8  289.66  289.72   289.8     18    2410
2023-04-14 08:01:00  290.01   289.8   290.0  290.01     20     965
2023-04-14 08:02:00   290.0   289.9   290.0   290.0     16     181
2023-04-14 08:03:00  290.09  289.91  289.91  289.91      4      13
2023-04-14 08:04:00   289.9  289.71   289.9  289.71     27     506
...                     ...     ...     ...     ...    ...     ...
2023-04-18 23:00:00  288.13  288.13  288.13  288.13      5      62
2023-04-18 23:01:00  288.12   288.1  288.12   288.1      2      25
2023-04-18 23:03:00  288.09  288.08  288.09  288.08      3       4
2023-04-18 23:04:00  288.06  288.05  288.05  288.05      3      55
2023-04-18 23:05:00  288.13   288.0  288.05  288.13     11     324

[2720 rows x 6 columns]

In [12]:
df['versionCreated'].min()

Timestamp('2023-04-14 12:37:02.312000+0000', tz='UTC')

In [14]:
df['twoM'] = np.nan
df['fiveM'] = np.nan
df['tenM'] = np.nan
df['thirtyM'] = np.nan
df.head(2)

,versionCreated,text,storyId,sourceCode,Polarity,Subjectivity,Score,twoM,fiveM,tenM,thirtyM
2023-04-18 07:46:19.000,2023-04-18 17:52:46+00:00,"U.S. RESEARCH ROUNDUP-Aterian, Berkshire Hatha...",urn:newsml:newswire.refinitiv.com:20230418:nL4...,NS:RTRS,0.026779,0.066479,neutral,NaN,NaN,NaN,NaN
2023-04-18 17:44:05.666,2023-04-18 17:44:05.666000+00:00,Microsoft (MSFT) Azure Expands Strategic Partn...,urn:newsml:newswire.refinitiv.com:20230418:nNR...,NS:ZACKSC,0.116939,0.479778,positive,NaN,NaN,NaN,NaN

In [15]:
df.tail()

,versionCreated,text,storyId,sourceCode,Polarity,Subjectivity,Score,twoM,fiveM,tenM,thirtyM
2023-04-14 19:44:44.268,2023-04-14 19:44:44.268000+00:00,Porsche steps up Metaverse collaboration with ...,urn:newsml:newswire.refinitiv.com:20230414:nNR...,NS:DATMTR,0.126794,0.360116,positive,NaN,NaN,NaN,NaN
2023-04-14 19:36:46.457,2023-04-14 19:36:46.457000+00:00,"Microsoft, and Siemens team up on generative A...",urn:newsml:newswire.refinitiv.com:20230414:nNR...,NS:DATMTR,0.110901,0.441120,positive,NaN,NaN,NaN,NaN
2023-04-14 15:17:32.385,2023-04-14 15:17:32.385000+00:00,Microsoft may come up with Steam Deck UI to de...,urn:newsml:newswire.refinitiv.com:20230414:nNR...,NS:HINDUT,-0.017778,0.396296,neutral,NaN,NaN,NaN,NaN
2023-04-14 14:16:51.875,2023-04-14 14:16:51.875000+00:00,The AI bot has picked an answer for you. Here'...,urn:newsml:newswire.refinitiv.com:20230414:nNR...,NS:WASHPO,0.035472,0.471311,neutral,NaN,NaN,NaN,NaN
2023-04-14 12:37:02.312,2023-04-14 12:37:02.312000+00:00,LVRN Records Partnered with Microsoft to Prese...,urn:newsml:newswire.refinitiv.com:20230414:nPn...,NS:PRN,0.351475,0.641886,positive,NaN,NaN,NaN,NaN

In [59]:
for idx, newsDate in enumerate(df['versionCreated'].values):
    print(idx, newsDate)

0 2023-04-11T20:23:59.000000000
1 2023-04-11T20:05:02.003000000
2 2023-04-11T19:06:33.000000000
3 2023-04-11T18:36:13.000000000
4 2023-04-11T16:46:11.000000000
5 2023-04-11T16:41:30.000000000
6 2023-04-11T16:33:16.804000000
7 2023-04-11T16:00:00.000000000
8 2023-04-11T15:34:36.000000000
9 2023-04-11T14:49:54.000000000
10 2023-04-11T14:46:58.000000000
11 2023-04-11T14:37:45.219000000
12 2023-04-11T13:00:27.893000000
13 2023-04-11T13:00:01.861000000
14 2023-04-11T12:30:06.904000000
15 2023-04-11T12:30:03.491000000
16 2023-04-11T11:00:00.232000000
17 2023-04-11T09:01:19.371000000
18 2023-04-11T08:11:10.000000000
19 2023-04-11T03:23:52.874000000
20 2023-04-11T03:08:44.463000000
21 2023-04-11T02:16:34.705000000
22 2023-04-11T02:14:44.658000000
23 2023-04-10T23:22:29.915000000
24 2023-04-10T22:10:20.458000000
25 2023-04-10T20:44:42.993000000
26 2023-04-10T19:48:41.099000000
27 2023-04-10T18:00:22.000000000
28 2023-04-10T16:52:20.000000000
29 2023-04-10T16:01:08.000000000
30 2023-04-10T15:23:26.301000000
31 2023-04-10T15:10:39.467000000
32 2023-04-10T15:07:00.131000000
33 2023-04-10T13:10:39.280000000
34 2023-04-10T12:26:31.694000000
35 2023-04-10T11:41:12.251000000
36 2023-04-10T11:12:28.000000000
37 2023-04-10T10:26:59.793000000
38 2023-04-10T10:25:26.674000000
39 2023-04-10T10:00:00.157000000
40 2023-04-10T09:41:42.849000000
41 2023-04-10T09:10:29.000000000
42 2023-04-10T08:46:15.000000000
43 2023-04-10T08:36:35.000000000
44 2023-04-10T02:58:45.792000000
45 2023-04-10T02:46:40.000000000
46 2023-04-10T02:46:31.000000000
47 2023-04-10T02:43:58.772000000
48 2023-04-09T01:59:41.612000000
49 2023-04-09T01:59:02.046000000
50 2023-04-08T15:01:13.549000000
51 2023-04-07T21:53:11.877000000
52 2023-04-07T21:52:16.491000000
53 2023-04-07T15:18:02.413000000
54 2023-04-07T15:17:32.284000000
55 2023-04-07T10:32:32.913000000
56 2023-04-07T09:18:11.832000000
57 2023-04-07T08:58:30.000000000
58 2023-04-07T03:14:54.146000000
59 2023-04-07T03:14:30.351000000
60 2023-04-07T03:11:04.556000000
61 2023-04-07T03:06:46.411000000
62 2023-04-07T03:03:37.641000000
63 2023-04-07T01:41:27.360000000
64 2023-04-07T01:24:17.601000000

In [60]:
idx = 0
newsDate = '2023-04-12T19:43:17.463000000'
sTime = df['versionCreated'][idx]
sTime = sTime.replace(second=0,microsecond=0)
sTime

Timestamp('2023-04-11 20:23:00+0000', tz='UTC')

In [61]:
t0 = Minute.iloc[Minute.index.get_loc(sTime),2]
t0

283.3

In [62]:
Minute.iloc[Minute.index.get_loc((sTime + timedelta(minutes=2))),3]

283.2

In [17]:
for idx, newsDate in enumerate(df['versionCreated'].values):
    sTime = df['versionCreated'][idx]
    sTime = sTime.replace(second=0,microsecond=0)
    try:
        t0 = Minute.iloc[Minute.index.get_loc(sTime),2]
        df['twoM'][idx] = ((Minute.iloc[Minute.index.get_loc((sTime + timedelta(minutes=2))),3]/(t0)-1)*100)
        df['fiveM'][idx] = ((Minute.iloc[Minute.index.get_loc((sTime + timedelta(minutes=5))),3]/(t0)-1)*100)
        df['tenM'][idx] = ((Minute.iloc[Minute.index.get_loc((sTime + timedelta(minutes=10))),3]/(t0)-1)*100) 
        df['thirtyM'][idx] = ((Minute.iloc[Minute.index.get_loc((sTime + timedelta(minutes=30))),3]/(t0)-1)*100)
    except:
        pass
df.head()

,versionCreated,text,storyId,sourceCode,Polarity,Subjectivity,Score,twoM,fiveM,tenM,thirtyM
2023-04-18 07:46:19.000,2023-04-18 17:52:46+00:00,"U.S. RESEARCH ROUNDUP-Aterian, Berkshire Hatha...",urn:newsml:newswire.refinitiv.com:20230418:nL4...,NS:RTRS,0.026779,0.066479,neutral,-0.030055,-0.098416,-0.193609,-0.124624
2023-04-18 17:44:05.666,2023-04-18 17:44:05.666000+00:00,Microsoft (MSFT) Azure Expands Strategic Partn...,urn:newsml:newswire.refinitiv.com:20230418:nNR...,NS:ZACKSC,0.116939,0.479778,positive,0.044555,0.117982,0.070026,-0.076792
2023-04-18 17:30:54.000,2023-04-18 17:30:54+00:00,LIVE MARKETS-Search and disrupt,urn:newsml:newswire.refinitiv.com:20230418:nL1...,NS:RTRS,0.026409,0.371817,neutral,-0.052845,0.023541,0.048609,-0.053818
2023-04-18 17:25:09.000,2023-04-18 17:25:09+00:00,UN Women - Overcoming gender-based violence as...,urn:newsml:newswire.refinitiv.com:20230418:nND...,NS:PUBT,0.117577,0.310451,positive,-0.027758,-0.089969,-0.045869,0.064189
2023-04-18 17:22:03.000,2023-04-18 17:22:03+00:00,US FTC leaders will target AI that violates ci...,urn:newsml:newswire.refinitiv.com:20230418:nL1...,NS:RTRS,-0.077982,0.649912,negative,0.072639,0.045139,-0.049375,0.142361

In [64]:
grouped = df.groupby(['Score']).mean()
grouped

          Polarity  Subjectivity      twoM     fiveM      tenM   thirtyM
Score
negative -0.074614      0.318861 -0.042092 -0.040307 -0.066435  0.073719
neutral   0.003039      0.242634  0.018427  0.048040  0.042721 -0.026442
positive  0.140777      0.441769  0.013360  0.006920  0.016765 -0.018865