In [3]:
#!conda install -y linearmodels

In [4]:
import pandas as pd
import numpy as np

from statsmodels.api import OLS, add_constant
import pandas_datareader.data as web

from linearmodels.asset_pricing import LinearFactorModel

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
sns.set_style('whitegrid')

In [7]:
ff_factor = 'F-F_Research_Data_5_Factors_2x3'
ff_factor_data = web.DataReader(ff_factor, 'famafrench', start='2010', end='2023-03')[0]
ff_factor_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 159 entries, 2010-01 to 2023-03
Freq: M
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  159 non-null    float64
 1   SMB     159 non-null    float64
 2   HML     159 non-null    float64
 3   RMW     159 non-null    float64
 4   CMA     159 non-null    float64
 5   RF      159 non-null    float64
dtypes: float64(6)
memory usage: 8.7 KB

In [8]:
ff_factor_data

         Mkt-RF   SMB   HML   RMW   CMA    RF
Date
2010-01   -3.36  0.34  0.43 -1.27  0.46  0.00
2010-02    3.40  1.51  3.23 -0.27  1.43  0.00
2010-03    6.31  1.85  2.21 -0.65  1.69  0.01
2010-04    2.00  4.98  2.89  0.69  1.72  0.01
2010-05   -7.89  0.04 -2.44  1.30 -0.22  0.01
...         ...   ...   ...   ...   ...   ...
2022-11    4.60 -2.67  1.38  6.01  3.11  0.29
2022-12   -6.41 -0.16  1.32  0.09  4.19  0.33
2023-01    6.65  4.43 -4.05 -2.62 -4.53  0.35
2023-02   -2.58  0.69 -0.78  0.90 -1.41  0.34
2023-03    2.51 -7.01 -9.01  1.92 -2.29  0.36

[159 rows x 6 columns]

In [9]:
ff_factor_data.describe()

           Mkt-RF         SMB         HML         RMW         CMA          RF
count  159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean     1.024465   -0.004906   -0.131321    0.268176    0.132516    0.050881
std      4.445316    2.607319    3.296048    1.940214    2.061946    0.082088
min    -13.390000   -8.300000  -13.950000   -4.780000   -6.920000    0.000000
25%     -1.540000   -1.805000   -1.890000   -1.095000   -1.225000    0.000000
50%      1.360000    0.140000   -0.420000    0.270000    0.000000    0.010000
75%      3.465000    1.605000    1.310000    1.300000    1.295000    0.080000
max     13.650000    7.120000   12.750000    7.220000    7.740000    0.360000

In [12]:
ff_portfolio = '17_Industry_Portfolios'
ff_portfolio_data = web.DataReader(ff_portfolio, 'famafrench', start='2010', end='2023-03')[0]
ff_portfolio_data = ff_portfolio_data.sub(ff_factor_data.RF, axis=0)
ff_portfolio_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 159 entries, 2010-01 to 2023-03
Freq: M
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Food    159 non-null    float64
 1   Mines   159 non-null    float64
 2   Oil     159 non-null    float64
 3   Clths   159 non-null    float64
 4   Durbl   159 non-null    float64
 5   Chems   159 non-null    float64
 6   Cnsum   159 non-null    float64
 7   Cnstr   159 non-null    float64
 8   Steel   159 non-null    float64
 9   FabPr   159 non-null    float64
 10  Machn   159 non-null    float64
 11  Cars    159 non-null    float64
 12  Trans   159 non-null    float64
 13  Utils   159 non-null    float64
 14  Rtail   159 non-null    float64
 15  Finan   159 non-null    float64
 16  Other   159 non-null    float64
dtypes: float64(17)
memory usage: 22.4 KB

In [13]:
ff_portfolio_data

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
Date,,,,,,,,,,,,,,,,,
2010-01,-2.06,-12.89,-4.83,-3.47,-3.51,-4.43,-0.44,-2.88,-11.92,-2.98,-7.33,-0.15,-2.11,-4.49,-1.30,-1.07,-4.84
2010-02,1.86,12.38,2.26,6.70,9.94,5.79,1.38,5.90,4.20,7.32,7.31,6.52,5.98,-0.41,3.70,2.70,2.48
2010-03,5.05,7.23,3.21,11.13,5.55,7.50,3.26,5.54,12.03,5.29,7.75,8.87,8.99,3.12,6.46,8.16,6.43
2010-04,-1.29,-0.85,4.31,4.75,6.87,2.48,-1.97,10.86,-2.64,3.43,4.81,6.75,3.06,2.84,1.35,0.92,1.72
2010-05,-4.82,-7.96,-10.11,-5.99,-5.52,-10.57,-6.28,-8.09,-7.02,-9.00,-8.10,-6.89,-7.61,-6.30,-5.72,-9.22,-7.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11,3.89,16.90,0.47,16.61,6.70,9.73,4.96,8.58,13.61,6.04,11.07,-7.67,8.23,6.53,2.39,4.46,3.93
2022-12,-3.47,-4.63,-4.36,-0.70,-5.30,-6.75,-1.11,-3.79,-7.96,-6.01,-6.91,-25.68,-4.22,-1.48,-9.78,-5.82,-6.73
2023-01,-2.21,14.55,2.43,9.14,12.85,10.81,-3.00,6.78,21.82,12.50,9.07,23.31,5.38,-1.61,11.79,6.11,7.78
2023-02,-1.75,-5.56,-7.34,-6.58,-2.12,-4.99,-5.14,-4.01,1.78,2.69,0.46,10.02,-0.91,-5.63,-6.04,-3.21,-2.19
2023-03,3.37,1.29,-0.51,3.36,-0.61,-4.92,2.57,-0.11,-8.43,-2.10,6.21,-0.70,-0.50,3.54,4.67,-8.80,6.64

In [14]:
ff_portfolio_data.describe()

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,0.878113,0.508239,0.820818,1.185220,0.837673,0.884025,0.999937,1.466226,0.900063,1.228239,1.251447,1.666918,1.086667,0.778616,1.091572,0.991572,1.166918
std,3.521487,7.841212,8.186862,6.271476,6.222814,6.226986,3.515888,6.034419,9.122842,5.499916,5.665043,8.807171,5.494092,3.873577,4.790273,5.499902,4.606212
min,-10.350000,-24.380000,-34.820000,-19.510000,-16.900000,-18.840000,-7.840000,-20.410000,-22.330000,-17.970000,-13.650000,-25.680000,-22.780000,-13.140000,-12.490000,-20.140000,-11.520000
25%,-1.320000,-5.280000,-3.320000,-2.065000,-2.560000,-2.000000,-1.340000,-2.430000,-4.940000,-1.795000,-2.125000,-3.575000,-2.170000,-1.530000,-1.350000,-2.375000,-1.390000
50%,0.880000,-0.110000,0.980000,0.940000,1.160000,1.430000,1.140000,2.030000,0.740000,1.490000,2.090000,0.730000,1.200000,1.040000,0.870000,1.860000,1.680000
75%,3.335000,6.525000,4.730000,4.840000,4.410000,4.740000,3.470000,5.575000,5.955000,4.145000,4.705000,5.215000,4.485000,3.275000,3.710000,4.440000,4.010000
max,10.140000,21.940000,32.870000,17.190000,19.520000,19.120000,10.390000,17.990000,23.840000,17.660000,14.750000,38.710000,19.670000,10.350000,18.270000,16.390000,13.530000

In [17]:
import eikon as ek  # the Eikon Python wrapper package
import numpy as np  # NumPy
import pandas as pd  # pandas
import cufflinks as cf  # Cufflinks
import configparser as cp
cf.set_config_file(offline=True)  # set the plotting mode to offline

In [18]:
cfg = cp.ConfigParser()
cfg.read('../refinitiv.cfg')
ek.set_app_key(cfg['eikon']['app_id'])

In [19]:
dji = ek.get_data('0#.DJI', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])[0]

In [22]:
const = dji['Instrument'].tolist()
const_limp = [i for i in const if i != '']
const

['GS.N',
 'NKE.N',
 'CSCO.OQ',
 'JPM.N',
 'DIS.N',
 'INTC.OQ',
 'DOW.N',
 'MRK.N',
 'CVX.N',
 'AXP.N',
 'VZ.N',
 'HD.N',
 'WBA.OQ',
 'MCD.N',
 'UNH.N',
 'KO.N',
 'JNJ.N',
 'MSFT.OQ',
 'HON.OQ',
 'CRM.N',
 'PG.N',
 'IBM.N',
 'MMM.N',
 'AAPL.OQ',
 'WMT.N',
 'CAT.N',
 'AMGN.OQ',
 'V.N',
 'TRV.N',
 'BA.N']

In [39]:
from datetime import datetime, timedelta
end = '2023-04-01 00:00:00.000000'
start = '2009-12-01 00:00:00.000000'
print(start, end)

2009-12-01 00:00:00.000000 2023-04-01 00:00:00.000000

In [42]:
meses = 159

In [41]:
df = ek.get_timeseries(const_limp[0], start_date = start, end_date = end, fields='CLOSE', interval="monthly")
df[const_limp[0]] = np.log(df['CLOSE'].div(df['CLOSE'].shift(1)))
weekly_returns = df.drop('CLOSE', 1).iloc[1:]
weekly_returns

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/3148448362.py:3: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

GS.N            GS.N
Date
2010-01-31 -0.126886
2010-02-28  0.050032
2010-03-31    0.0874
2010-04-30 -0.161385
2010-05-31 -0.006495
...              ...
2022-11-30  0.114103
2022-12-31 -0.117388
2023-01-31  0.063276
2023-02-28 -0.039478
2023-03-31  -0.07234

[159 rows x 1 columns]

In [43]:
for i in const_limp[1:]:
    w = ek.get_timeseries(i, start_date = start, end_date = end, fields='CLOSE', interval="monthly")
    w[i] = np.log(w['CLOSE'].div(w['CLOSE'].shift(1)))
    w1 = w.drop('CLOSE', 1).iloc[1:]
    p = round(w1.count()[0])
    print(i, p)
    if p == meses:    
        weekly_returns = weekly_returns.join(w1, lsuffix="_left", rsuffix="_right")

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

NKE.N 159
CSCO.OQ 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

JPM.N 159
DIS.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

INTC.OQ 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

DOW.N 48

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

MRK.N 159
CVX.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

AXP.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

VZ.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

HD.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

WBA.OQ 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

MCD.N 159
UNH.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

KO.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

JNJ.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

MSFT.OQ 159
HON.OQ 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

CRM.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

PG.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

IBM.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

MMM.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

AAPL.OQ 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

WMT.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

CAT.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

AMGN.OQ 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

V.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

TRV.N 159
BA.N 159

/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/1639276858.py:4: FutureWarning:

In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.

In [55]:
df2=weekly_returns.reset_index()
df2['Date'] = pd.to_datetime(df2['Date']).dt.to_period('M')
returns = df2.set_index('Date')
returns

,GS.N,NKE.N,CSCO.OQ,JPM.N,DIS.N,INTC.OQ,MRK.N,CVX.N,AXP.N,VZ.N,...,PG.N,IBM.N,MMM.N,AAPL.OQ,WMT.N,CAT.N,AMGN.OQ,V.N,TRV.N,BA.N
Date,,,,,,,,,,,,,,,,,,,,,
2010-01,-0.126886,-0.035746,-0.06337,-0.067759,-0.087434,-0.050262,0.043904,-0.065344,-0.073197,-0.118765,...,0.01506,-0.067221,-0.026724,-0.093074,-0.000374,-0.087027,0.033206,-0.064097,0.016115,0.112906
2010-02,0.050032,0.058639,0.079529,0.074933,0.055616,0.056614,-0.034642,0.002493,0.013975,-0.016796,...,0.027719,0.038233,-0.004233,0.063034,0.011907,0.08808,-0.032499,0.038855,0.037192,0.041376
2010-03,0.0874,0.083677,0.06754,0.064136,0.111074,0.080904,0.012664,0.04767,0.07732,0.069753,...,-0.000158,0.008535,0.041785,0.138133,0.027904,0.096823,0.054151,0.065249,0.025346,0.139431
2010-04,-0.161385,0.032263,0.03362,-0.049707,0.053811,0.025284,-0.063843,0.071373,0.111353,-0.071137,...,-0.0177,0.005831,0.059237,0.105692,-0.035702,0.080079,-0.040989,-0.008827,-0.061158,-0.002482
2010-05,-0.006495,-0.047618,-0.150443,-0.073061,-0.09743,-0.06375,-0.039289,-0.09756,-0.145623,-0.048583,...,-0.017364,-0.029421,-0.111557,-0.015282,-0.059321,-0.113899,-0.102343,-0.219327,-0.025348,-0.120929
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11,0.114103,0.168506,0.090235,0.093228,-0.08488,0.056083,0.084472,0.013234,0.059749,0.04218,...,0.102192,0.073922,0.00143,-0.035243,0.068492,0.088162,0.057672,0.046406,0.028591,0.227303
2022-12,-0.117388,0.064601,-0.042735,-0.029971,-0.119112,-0.129028,0.007509,-0.021059,-0.064475,0.010717,...,0.015962,-0.055295,-0.049219,-0.130419,-0.072293,0.013236,-0.086605,-0.043514,-0.012298,0.062885
2023-01,0.063276,0.084523,0.02139,0.042771,0.22213,0.066948,-0.032426,-0.030949,0.168864,0.053613,...,-0.062482,-0.044707,-0.041197,0.104829,0.014563,0.051775,-0.039769,0.102608,0.019176,0.111692
2023-02,-0.039478,-0.069425,-0.00515,0.023933,-0.085395,-0.125375,-0.010953,-0.079195,-0.005388,-0.068701,...,-0.034439,-0.041137,-0.065907,0.021393,-0.012168,-0.051817,-0.085744,-0.045637,-0.031897,-0.055255
2023-03,-0.07234,0.031896,0.076605,-0.095373,0.005207,0.270385,0.001411,0.014757,-0.053355,0.002059,...,0.077803,0.013749,-0.024713,0.112121,0.036747,-0.045739,0.042633,0.024788,-0.076946,0.052575

In [56]:
ff_factor_data = ff_factor_data.loc[returns.index]
ff_portfolio_data = ff_portfolio_data.loc[returns.index]
ff_portfolio_data

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
Date,,,,,,,,,,,,,,,,,
2010-01,-2.06,-12.89,-4.83,-3.47,-3.51,-4.43,-0.44,-2.88,-11.92,-2.98,-7.33,-0.15,-2.11,-4.49,-1.30,-1.07,-4.84
2010-02,1.86,12.38,2.26,6.70,9.94,5.79,1.38,5.90,4.20,7.32,7.31,6.52,5.98,-0.41,3.70,2.70,2.48
2010-03,5.05,7.23,3.21,11.13,5.55,7.50,3.26,5.54,12.03,5.29,7.75,8.87,8.99,3.12,6.46,8.16,6.43
2010-04,-1.29,-0.85,4.31,4.75,6.87,2.48,-1.97,10.86,-2.64,3.43,4.81,6.75,3.06,2.84,1.35,0.92,1.72
2010-05,-4.82,-7.96,-10.11,-5.99,-5.52,-10.57,-6.28,-8.09,-7.02,-9.00,-8.10,-6.89,-7.61,-6.30,-5.72,-9.22,-7.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11,3.89,16.90,0.47,16.61,6.70,9.73,4.96,8.58,13.61,6.04,11.07,-7.67,8.23,6.53,2.39,4.46,3.93
2022-12,-3.47,-4.63,-4.36,-0.70,-5.30,-6.75,-1.11,-3.79,-7.96,-6.01,-6.91,-25.68,-4.22,-1.48,-9.78,-5.82,-6.73
2023-01,-2.21,14.55,2.43,9.14,12.85,10.81,-3.00,6.78,21.82,12.50,9.07,23.31,5.38,-1.61,11.79,6.11,7.78
2023-02,-1.75,-5.56,-7.34,-6.58,-2.12,-4.99,-5.14,-4.01,1.78,2.69,0.46,10.02,-0.91,-5.63,-6.04,-3.21,-2.19
2023-03,3.37,1.29,-0.51,3.36,-0.61,-4.92,2.57,-0.11,-8.43,-2.10,6.21,-0.70,-0.50,3.54,4.67,-8.80,6.64

In [57]:
excess_returns = returns.sub(ff_factor_data.RF, axis=0)
excess_returns.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 159 entries, 2010-01 to 2023-03
Freq: M
Data columns (total 29 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GS.N     159 non-null    Float64
 1   NKE.N    159 non-null    Float64
 2   CSCO.OQ  159 non-null    Float64
 3   JPM.N    159 non-null    Float64
 4   DIS.N    159 non-null    Float64
 5   INTC.OQ  159 non-null    Float64
 6   MRK.N    159 non-null    Float64
 7   CVX.N    159 non-null    Float64
 8   AXP.N    159 non-null    Float64
 9   VZ.N     159 non-null    Float64
 10  HD.N     159 non-null    Float64
 11  WBA.OQ   159 non-null    Float64
 12  MCD.N    159 non-null    Float64
 13  UNH.N    159 non-null    Float64
 14  KO.N     159 non-null    Float64
 15  JNJ.N    159 non-null    Float64
 16  MSFT.OQ  159 non-null    Float64
 17  HON.OQ   159 non-null    Float64
 18  CRM.N    159 non-null    Float64
 19  PG.N     159 non-null    Float64
 20  IBM.N    159 non-null    Float64
 21  MMM.N    159 non-null    Float64
 22  AAPL.OQ  159 non-null    Float64
 23  WMT.N    159 non-null    Float64
 24  CAT.N    159 non-null    Float64
 25  AMGN.OQ  159 non-null    Float64
 26  V.N      159 non-null    Float64
 27  TRV.N    159 non-null    Float64
 28  BA.N     159 non-null    Float64
dtypes: Float64(29)
memory usage: 41.8 KB

In [58]:
excess_returns = excess_returns.clip(lower=np.percentile(excess_returns, 1),
                                     upper=np.percentile(excess_returns, 99))

In [59]:
ff_portfolio_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 159 entries, 2010-01 to 2023-03
Freq: M
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Food    159 non-null    float64
 1   Mines   159 non-null    float64
 2   Oil     159 non-null    float64
 3   Clths   159 non-null    float64
 4   Durbl   159 non-null    float64
 5   Chems   159 non-null    float64
 6   Cnsum   159 non-null    float64
 7   Cnstr   159 non-null    float64
 8   Steel   159 non-null    float64
 9   FabPr   159 non-null    float64
 10  Machn   159 non-null    float64
 11  Cars    159 non-null    float64
 12  Trans   159 non-null    float64
 13  Utils   159 non-null    float64
 14  Rtail   159 non-null    float64
 15  Finan   159 non-null    float64
 16  Other   159 non-null    float64
dtypes: float64(17)
memory usage: 22.4 KB

In [60]:
ff_factor_data = ff_factor_data.drop('RF', axis=1)
ff_factor_data.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 159 entries, 2010-01 to 2023-03
Freq: M
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  159 non-null    float64
 1   SMB     159 non-null    float64
 2   HML     159 non-null    float64
 3   RMW     159 non-null    float64
 4   CMA     159 non-null    float64
dtypes: float64(5)
memory usage: 7.5 KB

In [67]:
betas = []
for industry in ff_portfolio_data:
    step1 = OLS(endog=ff_portfolio_data.loc[ff_factor_data.index, industry], 
                exog=add_constant(ff_factor_data)).fit()
    betas.append(step1.params.drop('const'))

In [72]:
betas = pd.DataFrame(betas, 
                     columns=ff_factor_data.columns, 
                     index=ff_portfolio_data.columns)
betas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, Food  to Other
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  17 non-null     float64
 1   SMB     17 non-null     float64
 2   HML     17 non-null     float64
 3   RMW     17 non-null     float64
 4   CMA     17 non-null     float64
dtypes: float64(5)
memory usage: 1.3+ KB

In [73]:
betas

         Mkt-RF       SMB       HML       RMW       CMA
Food   0.642030 -0.187742 -0.030374  0.403346  0.359677
Mines  1.156298  0.268225  0.079075  0.140469  0.578880
Oil    1.171238  0.326327  0.903016 -0.267982  0.451595
Clths  1.050236  0.382238 -0.158475  0.625370 -0.079673
Durbl  1.129524  0.522537 -0.187552  0.136403  0.037664
Chems  1.164889  0.223411  0.301997  0.104273  0.103011
Cnsum  0.666978 -0.194816 -0.316715  0.216285  0.671849
Cnstr  1.079533  0.310966  0.062796  0.455940 -0.023232
Steel  1.427880  0.642927  0.475693  0.377679  0.213393
FabPr  1.009091  0.412510  0.051358  0.182362 -0.119639
Machn  1.148989  0.151413 -0.068334  0.170617 -0.091971
Cars   1.425851  0.436553 -0.240279 -0.077673 -0.242053
Trans  1.033563  0.252409  0.206285  0.302717 -0.001650
Utils  0.559354 -0.228644 -0.021861  0.282564  0.349732
Rtail  0.940481 -0.014825 -0.415022  0.211702  0.042361
Finan  1.021294  0.017878  0.720314 -0.331114 -0.403005
Other  1.034523 -0.106626 -0.157311 -0.054263 -0.063088

In [66]:
ff_portfolio_data

,Food,Mines,Oil,Clths,Durbl,Chems,Cnsum,Cnstr,Steel,FabPr,Machn,Cars,Trans,Utils,Rtail,Finan,Other
Date,,,,,,,,,,,,,,,,,
2010-01,-2.06,-12.89,-4.83,-3.47,-3.51,-4.43,-0.44,-2.88,-11.92,-2.98,-7.33,-0.15,-2.11,-4.49,-1.30,-1.07,-4.84
2010-02,1.86,12.38,2.26,6.70,9.94,5.79,1.38,5.90,4.20,7.32,7.31,6.52,5.98,-0.41,3.70,2.70,2.48
2010-03,5.05,7.23,3.21,11.13,5.55,7.50,3.26,5.54,12.03,5.29,7.75,8.87,8.99,3.12,6.46,8.16,6.43
2010-04,-1.29,-0.85,4.31,4.75,6.87,2.48,-1.97,10.86,-2.64,3.43,4.81,6.75,3.06,2.84,1.35,0.92,1.72
2010-05,-4.82,-7.96,-10.11,-5.99,-5.52,-10.57,-6.28,-8.09,-7.02,-9.00,-8.10,-6.89,-7.61,-6.30,-5.72,-9.22,-7.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11,3.89,16.90,0.47,16.61,6.70,9.73,4.96,8.58,13.61,6.04,11.07,-7.67,8.23,6.53,2.39,4.46,3.93
2022-12,-3.47,-4.63,-4.36,-0.70,-5.30,-6.75,-1.11,-3.79,-7.96,-6.01,-6.91,-25.68,-4.22,-1.48,-9.78,-5.82,-6.73
2023-01,-2.21,14.55,2.43,9.14,12.85,10.81,-3.00,6.78,21.82,12.50,9.07,23.31,5.38,-1.61,11.79,6.11,7.78
2023-02,-1.75,-5.56,-7.34,-6.58,-2.12,-4.99,-5.14,-4.01,1.78,2.69,0.46,10.02,-0.91,-5.63,-6.04,-3.21,-2.19
2023-03,3.37,1.29,-0.51,3.36,-0.61,-4.92,2.57,-0.11,-8.43,-2.10,6.21,-0.70,-0.50,3.54,4.67,-8.80,6.64

In [75]:
lambdas = []
for period in ff_portfolio_data.index:
    step2 = OLS(endog=ff_portfolio_data.loc[period, betas.index], 
                exog=betas).fit()
    lambdas.append(step2.params)

In [76]:
lambdas = pd.DataFrame(lambdas, 
                       index=ff_portfolio_data.index,
                       columns=betas.columns.tolist())
lambdas.info()

<class 'pandas.core.frame.DataFrame'>
PeriodIndex: 159 entries, 2010-01 to 2023-03
Freq: M
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  159 non-null    float64
 1   SMB     159 non-null    float64
 2   HML     159 non-null    float64
 3   RMW     159 non-null    float64
 4   CMA     159 non-null    float64
dtypes: float64(5)
memory usage: 11.5 KB

In [77]:
lambdas

           Mkt-RF        SMB       HML        RMW       CMA
Date
2010-01 -2.524367  -3.137588 -2.224659  -2.041681 -5.398928
2010-02  3.810348   6.897814 -3.618651  -0.652858  1.278425
2010-03  6.244954  -1.487608  1.335294   5.500428 -3.546825
2010-04  2.551467   2.395143 -1.641416   0.969642 -4.402955
2010-05 -7.788623   5.299450 -2.842175  -0.648346 -0.145072
...           ...        ...       ...        ...       ...
2022-11  3.184617  -0.505860  6.267920  17.808782  2.191436
2022-12 -8.344666  -2.904129  8.485659  11.881385  3.261766
2023-01  7.317378  17.621818 -8.105718  -6.971714 -3.029209
2023-02 -1.987825   8.194674 -4.859694  -5.586166 -4.817593
2023-03  1.728024  -6.573886 -7.509770   0.339729  2.257147

[159 rows x 5 columns]

In [78]:
lambdas.mean().sort_values().plot.barh(figsize=(12, 4))
sns.despine()
plt.tight_layout();

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3442, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/h0/fd2sjrqn69ncrtc29q0mnst00000gn/T/ipykernel_89145/2336001111.py", line 1, in <module>
    lambdas.mean().sort_values().plot.barh(figsize=(12, 4))
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/pandas/plotting/_core.py", line 1245, in barh
    Column in the DataFrame to group by.
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/pandas/plotting/_core.py", line 920, in __call__
    return plot_backend.plot(data, x=x, y=y, kind=kind, **kwargs)
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/pandas/plotting/_core.py", line 1886, in _get_plot_backend
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/pandas/plotting/_core.py", line 1817, in _load_backend
    # Fall back to unregistered, module name approach.
ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/IPython/core/ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/opt/homebrew/Caskroom/miniforge/base/envs/mlp/lib/python3.8/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [79]:
lambdas.mean().sort_values()

SMB      -0.746081
CMA      -0.496860
HML      -0.205506
RMW       0.393731
Mkt-RF    1.132649
dtype: float64