In [ ]:
# Use seaborn for pairplot.
!pip install -q seaborn

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from pathlib import Path

# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [ ]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.8.0

In [ ]:
url = 'https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_weekly_CSV.zip'

raw_dataset = pd.read_csv(url, skiprows = 3, index_col=0, nrows=1100)

In [ ]:
dataset = raw_dataset.copy()

dataset.tail()

          Mkt-RF   SMB   HML     RF
19470703    3.14  0.65  1.71  0.007
19470711    1.91  1.42  0.52  0.007
19470718    0.03  0.06 -0.09  0.007
19470725    1.60  0.46  1.57  0.007
19470801   -1.90 -1.43 -1.04  0.007

In [ ]:
DATA_STORE = Path('assets.h5')

print(dataset.info(null_counts=True))

with pd.HDFStore(DATA_STORE) as store:
    store.put('ff/three_factors/returns', dataset)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1100 entries, 19260702 to 19470801
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Mkt-RF  1100 non-null   float64
 1   SMB     1100 non-null   float64
 2   HML     1100 non-null   float64
 3   RF      1100 non-null   float64
dtypes: float64(4)
memory usage: 43.0 KB
None

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: null_counts is deprecated. Use show_counts instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
with pd.HDFStore(DATA_STORE) as store:
    fama_french_factors = (store['ff/three_factors/returns']
              # .loc[idx[str(START):str(END), :], :]
              # .filter(like='adj_')
              # .dropna()
              # .swaplevel()
              # .rename(columns=lambda x: x.replace('adj_', ''))
              # .join(store['us_equities/stocks']
              #       .loc[:, ['sector']])
              .dropna())

In [ ]:
fama_french_factors.tail()

          Mkt-RF   SMB   HML     RF
19470703    3.14  0.65  1.71  0.007
19470711    1.91  1.42  0.52  0.007
19470718    0.03  0.06 -0.09  0.007
19470725    1.60  0.46  1.57  0.007
19470801   -1.90 -1.43 -1.04  0.007